/* DESIGN A DESK */
.design-desk .desc { width: 320px; color: #838383; margin: 0 0 30px; line-height: 20px; display: none; }
.design-desk .social-desk a { vertical-align: top; margin: 0 6px 0 0; }
.design-desk .cart-top-message { display: block; margin: 0 0 28px; }

#design-a-desc-configurator { position:	relative; }
#design-a-desc-configurator:after { content: "."; visibility: hidden; display: block; height: 0; clear: both; overflow: hidden; }

#design-a-desc-configurator .table-wrap { background: url(//poppin.imgix.net/pp-design-desk/_table.jpg?auto=format) no-repeat left top; border: 1px solid #dadada; margin: 0 0 25px; clear: both; }
#design-a-desc-configurator .products-shadow { background: url(//poppin.imgix.net/pp-design-desk/shadow.png?auto=format) no-repeat left top; }
#design-a-desc-configurator .default-products { /*background: url(http://cdn-web.poppin.com/site/pp-design-desk/default-items.png) no-repeat 271px 22px;*/ height: 510px; position: relative; }

#design-a-desc-configurator .item-type { position: absolute; z-index: 1; }
#design-a-desc-configurator .item-type.type-over { z-index: 2; }
#design-a-desc-configurator .item-type img { display: block; }

#design-a-desc-configurator .type-stapler { left: 689px; top: 244px; }
#design-a-desc-configurator .type-tape { left: 615px; top: 214px; }
#design-a-desc-configurator .type-pens { left: 543px; top: 155px; }
#design-a-desc-configurator .type-halftray { left: 327px; top: 129px; display: none; }
#design-a-desc-configurator .type-scissors { left: 596px; top: 94px; }
#design-a-desc-configurator .type-ruler { left: 536px; top: 22px; }
#design-a-desc-configurator .type-cup { left: 548px; top: 189px; }
#design-a-desc-configurator .type-inboxes { left: 271px; top: 157px; }
#design-a-desc-configurator .type-bitsbobs { left: 467px; top: 263px; }
#design-a-desc-configurator .type-spiral { left: 270px; top: 314px; }

#design-a-desc-configurator .social-container { position: absolute; left: 22px; bottom: 22px; }
#design-a-desc-configurator .social-container a { float: left; vertical-align: top; margin: 0 6px 0 0; }

#design-a-desc-configurator .dialogbox-container { position: absolute; padding: 20px 0 111px; background: url(//poppin.imgix.net/pp-design-desk/bg-dialogbox.png?auto=format) no-repeat center bottom; display: none; z-index: 100; width: 450px; border: 0; -webkit-border-radius: none; -moz-border-radius: none; border-radius: none; }
#design-a-desc-configurator .dialogbox-container.bottom_pos { background: url(//poppin.imgix.net/pp-design-desk/bg-dialogbox-bottom.png?auto=format) no-repeat center top; padding: 100px 0 20px; }

#design-a-desc-configurator .dialogbox-container .title { color: #F67A00; font-family: "OmnesLightRegular",Arial,Helvetica,sans-serif; font-size: 26px; margin: 0; text-align: center; border-radius: 25px 25px 0 0; border-right: 2px solid #e8e8e8; border-left: 2px solid #e8e8e8; border-top: 2px solid #e8e8e8; background: #fff; padding: 25px 0 8px; }
#design-a-desc-configurator .dialogbox-container.bottom_pos .title { border-radius: 0; border-top: 0; padding: 0 0 25px; }


#design-a-desc-configurator .dialogbox-container .list { margin: 0; padding: 0; list-style: none; overflow: hidden; width: 400px; border-left: 2px solid #e8e8e8; border-right: 2px solid #e8e8e8; padding: 0 23px; background: #fff; }
#design-a-desc-configurator .dialogbox-container.bottom_pos .list { border-bottom: 2px solid #e8e8e8; border-radius: 0 0 25px 25px; }

#design-a-desc-configurator .dialogbox-container .list .item { float: left; margin: 0 9px 20px; border: 1px solid #fff; width: 60px; height: 60px; overflow: hidden; cursor: pointer; }
#design-a-desc-configurator .dialogbox-container .list .item img { display: block; max-width: 60px; max-height: 60px; }
#design-a-desc-configurator .dialogbox-container .list .item:hover { border-color: #d2d2d2; }

#design-a-desc-configurator .type-stapler .dialogbox-container { bottom: 65px; left: -190px; }
#design-a-desc-configurator .type-stapler .dialogbox-container.top_pos { bottom: 65px; }
#design-a-desc-configurator .type-stapler .dialogbox-container.bottom_pos { top: 50px; }

#design-a-desc-configurator .type-spiral .dialogbox-container { bottom: 97px; left: -126px; }
#design-a-desc-configurator .type-spiral .dialogbox-container.top_pos { bottom: 97px; }
#design-a-desc-configurator .type-spiral .dialogbox-container.bottom_pos { top: 100px; }

#design-a-desc-configurator .type-inboxes .dialogbox-container { bottom: 150px; right: -78px; }
#design-a-desc-configurator .type-inboxes .dialogbox-container.top_pos { bottom: 150px; }
#design-a-desc-configurator .type-inboxes .dialogbox-container.bottom_pos { top: 150px; }

#design-a-desc-configurator .type-bitsbobs .dialogbox-container { bottom: 68px; left: -165px; }
#design-a-desc-configurator .type-bitsbobs .dialogbox-container.top_pos { bottom: 68px; }
#design-a-desc-configurator .type-bitsbobs .dialogbox-container.bottom_pos { top: 68px; }

#design-a-desc-configurator .type-cup .dialogbox-container { bottom: 86px; left: -180px; }
#design-a-desc-configurator .type-cup .dialogbox-container.top_pos { bottom: 86px; }
#design-a-desc-configurator .type-cup .dialogbox-container.bottom_pos { top: 86px; }

#design-a-desc-configurator .type-ruler .dialogbox-container { bottom: 160px; left: -193px; }
#design-a-desc-configurator .type-ruler .dialogbox-container.top_pos { bottom: 160px; }
#design-a-desc-configurator .type-ruler .dialogbox-container.bottom_pos { top: 160px; }

#design-a-desc-configurator .type-scissors .dialogbox-container { bottom: 110px; left: -195px; }
#design-a-desc-configurator .type-scissors .dialogbox-container.top_pos { bottom: 110px; }
#design-a-desc-configurator .type-scissors .dialogbox-container.bottom_pos { top: 110px; }

#design-a-desc-configurator .type-halftray .dialogbox-container { bottom: 90px; right: 0; }
#design-a-desc-configurator .type-halftray .dialogbox-container.top_pos { bottom: 90px; }
#design-a-desc-configurator .type-halftray .dialogbox-container.bottom_pos { top: 90px; }

#design-a-desc-configurator .type-pens .dialogbox-container { bottom: 60px; left: -202px; }
#design-a-desc-configurator .type-pens .dialogbox-container.top_pos { bottom: 60px; }
#design-a-desc-configurator .type-pens .dialogbox-container.bottom_pos { top: 60px; }

#design-a-desc-configurator .type-tape .dialogbox-container { bottom: 88px; left: -178px; }
#design-a-desc-configurator .type-tape .dialogbox-container.top_pos { bottom: 88px; }
#design-a-desc-configurator .type-tape .dialogbox-container.bottom_pos { top: 88px; }

#design-a-desc-configurator .cart-container { float: left; padding: 0; width: 469px; margin: 0 0 15px; overflow: visible; }

#design-a-desc-configurator .cart-container .wrap-list-foot { position: relative; height: 46px; }
#design-a-desc-configurator .cart-container .wrap-list-foot .container-list-foot { width: 100%; position: absolute; z-index: 2; background: url(//poppin.imgix.net/pp-design-desk/bg-cart.png?auto=format) repeat; }

#design-a-desc-configurator .cart-head { border-bottom: 1px solid #c0c0c0; overflow: hidden; padding: 10px; text-align: right; background: #f3f3f3; border-bottom: 1px solid #fff; }
#design-a-desc-configurator .cart-head .cart-title { float: left; color: #F67A00; font-family: "OmnesLightRegular", Arial, Helvetica, sans-serif; font-size: 30px; }

#design-a-desc-configurator .cart-head .cart-title.has-items { background: url(//poppin.imgix.net/pp-design-desk/open-close-cart.gif?auto=format) no-repeat right 12px; padding-right: 26px; }
#design-a-desc-configurator .cart-head .cart-title.has-items.open { background-position: right -55px; }

#design-a-desc-configurator .cart-head .cart-empty-message { float: left; color: #949494; padding-left: 15px; padding-top: 5px; font-size: 25px; display: none; }
#design-a-desc-configurator .cart-empty .cart-head .cart-empty-message { display: inline; }

#design-a-desc-configurator .cart-list { margin: 0; padding: 0; list-style: none; }
#design-a-desc-configurator .cart-list li { overflow: hidden; padding: 0 10px; }
#design-a-desc-configurator .cart-list li .item-content { overflow: hidden; padding: 15px 0 10px; border-bottom: 1px solid #c0c0c0; }
#design-a-desc-configurator .cart-list li .qty { width: 22px; text-align: center; padding: 3px 0; vertical-align: middle; margin: 0 8px 0 0; color: #6b6b6b; font-size: 11px; }
#design-a-desc-configurator .cart-list li .name { font-weight: bold; }
#design-a-desc-configurator .cart-list li .availability { margin-left: 5px; }
#design-a-desc-configurator .cart-list li .availability span { font-family: "OmnesRegularRegular"; text-transform: uppercase; font-weight: bold; color: #f47a20; }
#design-a-desc-configurator .cart-list li .remove { background: url(//poppin.imgix.net/pp-design-desk/btn-remove.png) no-repeat left top; float: right; width: 22px; height: 22px; cursor: pointer; }
#design-a-desc-configurator .cart-list li.cart-default-item { display: none; color: #5C5C5C; padding: 12px 30px 12px 10px; line-height: 22px; background: #ececec; font-weight: normal; }
#design-a-desc-configurator .cart-foot { overflow: hidden; text-align: right; padding: 10px; }
#design-a-desc-configurator .cart-foot .cart-total-wrap { float: left; font-size: 25px; font-weight: bold; }
#design-a-desc-configurator .cart-foot .cart-total-wrap .cart-total { color: #a8a8a8; padding-right: 12px; }
#design-a-desc-configurator .cart-foot .cart-total-wrap .cart-total-price,
#design-a-desc-configurator .cart-foot .cart-total-wrap .cart-counter-items { color: #666; }

#design-a-desc-configurator .cart-container button { background: #f47a20; display: inline-block; margin: 0; padding: 0; border: 0; color: #fff; font-size: 11px; font-weight: bold; text-transform: uppercase; border-radius: 13px; padding: 0 8px; height: 24px; line-height: 24px; margin-left: 10px; cursor: pointer; display: none; }

#design-a-desc-configurator .cart-container .add-to-cart { margin-top: 5px; }
#design-a-desc-configurator .cart-container .cart-foot .add-to-cart { margin-top: 3px; display: inline; }
#design-a-desc-configurator .cart-empty .cart-foot .add-to-cart { display: none; }

#design-a-desc-configurator .cart-container .update { background: #c6c6c6; color: #fff; }
#design-a-desc-configurator .cart-container .clear-all { background: #c6c6c6; color: #fff; }

#design-a-desc-configurator .cart-empty .cart-list li.cart-default-item { display: block; }
#design-a-desc-configurator .cart-empty .cart-foot,
#design-a-desc-configurator .cart-empty .add-to-cart { display: none; }

#design-a-desc-configurator .quick-pick-container { border: 1px solid #e1e1e1; float: right; padding: 12px 5px 8px 16px; width: 440px; margin: 0 0 10px; }
#design-a-desc-configurator .quick-pick-container .quick-pick-title { color: #F67A00; font-family: "OmnesLightRegular", Arial, Helvetica, sans-serif; font-size: 30px; margin: 0 0 10px; }
#design-a-desc-configurator .quick-pick-container ul { margin: 0; padding: 0; list-style: none; }
#design-a-desc-configurator .quick-pick-container ul li { float: left; margin: 0 10px 15px 0; cursor: pointer; }
#design-a-desc-configurator .quick-pick-container ul li img { display: block; }
#design-a-desc-configurator .quick-pick-container ul li .color-name { background: none repeat scroll 0 0 #FFFFFF; border-radius: 8px 8px 8px 8px; bottom: 36px; color: #FFFFFF; display: none; font-family: "OmnesMediumRegular",Arial,Helvetica,sans-serif; font-size: 18px; left: -10px; padding: 3px 10px 5px; position: absolute; text-align: center; text-transform: capitalize; white-space: nowrap;}

#design-a-desc-configurator .quick-pick-container ul li.clear { clear: inherit!important; }
#design-a-desc-configurator .quick-pick-container ul li.sailor .color-name,
#design-a-desc-configurator .quick-pick-container ul li.clear .color-name,
#design-a-desc-configurator .quick-pick-container ul li.white .color-name { color: #000; border: 1px solid #c8c7c7; }
#design-a-desc-configurator .quick-pick-container ul li.white.orange .color-name,
#design-a-desc-configurator .quick-pick-container ul li.white.red .color-name,
#design-a-desc-configurator .quick-pick-container ul li.white.green .color-name,
#design-a-desc-configurator .quick-pick-container ul li.black.white.clip .color-name,
#design-a-desc-configurator .quick-pick-container ul li.black.white .color-name,
#design-a-desc-configurator .quick-pick-container ul li.white.yellow .color-name { color: #fff; border: 0; }

#design-a-desc-configurator .quick-pick-container ul li.color-over { position: relative; }

#design-a-desc-configurator .loading-table { background: #fff url(//poppin.imgix.net/pp-design-desk/loading-table.gif?auto=format) no-repeat center center; position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 100; }

#design-a-desc-configurator .loading-dialogbox { background: #fff url(//poppin.imgix.net/pp-design-desk/loading-table.gif?auto=format) no-repeat center center; position: absolute; left: 50%; top: 50%; margin-left: -21px; margin-top: -21px; z-index: 100; width: 40px; height: 40px; display: none; border: 1px solid #464646; }

#design-a-desc-configurator .canvas-container { height: 0; overflow: hidden; visibility: hidden; }



