#outerwrapper { background: none repeat scroll 0 0 #FFFFFF !important;}
.container-mini-cart, .top-links, .header-container .search-social, #nav, .breadcrumbs, #div__footer{display:none !important;}
.header-container { height: 118px !important;}
.header-container .logo {margin: 55px 0 0 !important;}
#emails-wrap{background-position: 0 0; background-repeat: no-repeat; height: 700px; overflow:hidden; width: 968px;}
.emails_right{float: right; height: 700px; width: 292px;}
.emails_right h1{border-bottom: 1px solid #FFFFFF; color: #FFFFFF; font-size: 42px; font-weight: bold; line-height: 34px; margin: 22px 30px 0; padding: 0 0 24px; position: relative;}
.emails_right h1 small{font-size: 14px; font-weight: normal; position: absolute; top: 30px;}
.emails_right h2.thanks {color: #FFFFFF; font-size: 70px; margin: 129px 30px 0;}
.emails_right p{border-bottom: 1px solid #FFFFFF; color: #FFFFFF; font-size: 20px; line-height: 22px; margin: 14px 30px 0; padding: 0 0 20px;}
.emails_right form{margin: 30px 30px 0;}
.emails_right #email_nsl{display: block;}
.emails_right #email{background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #DDDDDD; color: #666666; font-family: 'OmnesRegularRegular',sans-serif; font-size: 14px; padding: 5px 2px 5px 10px; text-transform: lowercase; width: 180px;}
.emails_right #submitter-news{background: url("/site/pp-templates/btn-submit-emails.png") no-repeat scroll 0 0 transparent; border: medium none; color: #FFFFFF; cursor: pointer; font-family: 'OmnesRegularRegular',sans-serif; font-size: 16px; height: 31px; margin: 10px 0 0; overflow: hidden; padding: 0 0 5px; text-indent: -5px; width: 85px;}
.emails_right #submitter-news:hover{background-position:0 -31px; padding: 0 0 4px;}