td#contentBody{
	padding: 0;
}
tbody#content_master tr{
	color: #333;
	font-size: 17px;
	vertical-align: top;
}
tbody#content_master tr:not(:last-child){
	background: url(/site/pp-sources/business/bg-dotted-small.gif) repeat-x left bottom;
}
tbody#content_master td{
	padding: 30px 0 40px 0;
}
tbody#content_master tr:first-child td{
	padding-top: 0;
}
tbody#content_master h1{
	color: #f67a00;
	font-family: OmnesLightRegular, Arial, Helvetica, sans-serif;
	font-size: 48px;
	margin: 0 0 10px;
}
tbody#content_master h2{
	color: #f37a31;
	padding-bottom: 6px;
}
tbody#content_master h4{
	font-family: OmnesMediumRegular;
	font-size: 19px;
	font-weight: bold;
}
tbody#content_master p{
	margin: 0px 0px 10px 0px;
}

tbody#content_master div.div__presentation{
	display: table-cell;
	float: left;

}
tbody#content_master div.div__register{
	display: table-cell;
	float: left;
	height: 323px;
	width: 245px;
	background-color: #f2f2f2;
	padding: 30px 40px 20px 40px;
}
tbody#content_master div.div__options{
	display: table-cell;
	float: left;
}
tbody#content_master div.div__options:not(:first-child){
	padding-left: 10px;
}
tbody#content_master div.div__options p{
	padding-bottom: 10px;
	font-family: OmnesMediumRegular;
	font-size: 28px;
	font-weight: bold;
}

tbody#logos tr:not(:last-child){
	background: none;
}
tbody#logos td{
	padding: 20px 0 20px 0;
}

/* Configure powerTip */

div[id^="powerTip"] {
	background-color:rgb(248, 124, 2);
	color:#fff;
	padding: 35px 50px 35px 50px;
	position: absolute;
	z-index:90;
	text-align:left;
	
	line-height: 20px;
	font-family: OmnesMediumRegular;
	font-size: 28px;
	font-weight: bold;
	
	top: 40px;
	left: 480px;
	right: auto;
	bottom: auto;
	display: block;
}
div[id^="powerTip"]:before {
	content: "";
	position: absolute;
}
div[id^="powerTip"].n:before {
	top: 100%;
	left: 173px;
	width: 92px;
	height: 54px;
	background: url(/site/pp-sources/business/arrow.png) no-repeat;
}