.breadcrumbs {
	padding: 13px 0 0px;
}
.breadcrumbs .free-shipping-container {
	height: auto;
}
td#contentBody{
	padding: 0;
}
tbody#content_master tr{
	color: #333;
	font-size: 17px;
	vertical-align: top;
}
tbody#content_master tr:not(:last-child){
	background: url(/site/pp-sources/business/bg-dotted-small.gif) repeat-x left bottom;
}
tbody#content_master td{
	padding: 10px 0 10px 0;
}
tbody#content_master tr:first-child td{
	padding-top: 0;
}
tbody#content_master h1{
	color: #f67a00;
	font-family: OmnesLightRegular, Arial, Helvetica, sans-serif;
	font-size: 48px;
	margin: 0 0 10px;
}
tbody#content_master h2{
	color: #f37a31;
	padding-bottom: 6px;
}
tbody#content_master h4{
	font-family: OmnesMediumRegular;
	font-size: 19px;
	font-weight: bold;
}
tbody#content_master p{
	margin: 5px 0 0 0;
}
tbody#content_master td.callstylist{
	text-align: center;
	padding: 10px 0 10px 0;
}
tbody#content_master span.orange{
	font-size: 28px;
	text-transform: uppercase;
	color: #f37a31;
}
tbody#content_master span.number{
	font-size: 28px;
	color: #f37a31;
	font-family: OmnesMediumRegular;
	font-weight: bold;
}
tbody#content_master span.grey{
	color: rgb(194, 194, 194);
	font-size: 24px;
}
tbody#content_master div.div__presentation{
	display: table-cell;
	float: left;

}
tbody#content_master div.div__register{
	display: table-cell;
	float: left;
	height: 323px;
	width: 245px;
	background-color: #f2f2f2;
	padding: 30px 40px 20px 40px;
}
td.medtextbold {
	display: none;
}
