#workhappy .main-image{
	margin-bottom: 7px;
}
#workhappy .call-us{
    width: 967px;
    background: url(/site/pp-sources/workhappy/fifty.jpg) 26px 26px no-repeat;
    font-size: 30px;
    padding: 15px 0 40px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*border: 8px solid #00c2f4;*/
    /*margin-bottom: 30px;*/
}
#workhappy .call-us p{
	margin: 0;
}
#workhappy .call-us p.call-main{
    font-family: OmnesLightRegular;
    font-size: 33px;
    color: #00afe6;
    margin-left: 67px;
}
#workhappy .call-us p.call-main strong{
    font-family: OmnesBoldRegular;
}
#workhappy .call-us p.call-main strong a{
    font-family: OmnesBoldRegular;
    text-decoration: none;
    background: url(/site/pp-sources/workhappy/underline.jpg) bottom center no-repeat;
    color: #00afe6;
    padding-bottom: 10px;
}
#workhappy .call-us p.call-main strong a:hover{
    color: #60d4f9;
}
#workhappy .call-us p.call-strings{
    font-family: OmnesLightRegular;
    color: #000000;
    font-size: 47px;
    margin-top: 25px;
    margin-left: 160px;
}
#workhappy .dotline{
	min-height: 1px;
	width: 100%;
	background: url(/site/pp-sources/workhappy/dot_bg.png) repeat-x center;
	clear: both;
}
#workhappy .dotline span{
    font-family: OmnesBoldRegular;
	font-size: 17px;
	color: #f27b30;
    text-align: center;
	font-weight: 900;
	background: #ffffff;
	width: 446px;
	margin: 0 auto;
	padding: 0 10px;
	display: block;
	position: relative;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#workhappy .join{
    width: 967px;
    margin: 15px 0 0 0;
    border-top: 3px solid #00afe6;
    border-bottom: 3px solid #00afe6;
}
#workhappy .join p{
    text-align: center;
    color: #00afe6;
    font-size: 28px;
    text-transform: uppercase;
    font-family: OmnesBoldRegular;
    margin: 10px 0 0 0;
}
#workhappy .cat-heading p{
	font-size: 26px;
	color: #f27b30;
	margin: 15px 0;
}
#workhappy .cat-heading p strong{
    font-family: OmnesBoldRegular;
}
#workhappy .cat-heading a{
    text-decoration: underline;
}
#workhappy .item-cell{
	width: 322px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px 0 15px 0;
}
#workhappy .item-cell-image a.image-link,
#workhappy .item-cell-image a.image-link:hover
{
    display: block;
    width: 322px;
    height: 251px;
    position: relative;
    margin: 0 auto;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
/*product images  */
#workhappy .item-cell-image a.image-link.desk1{background: url(/site/pp-sources/workhappy/desk_1.jpg) center center no-repeat;}
#workhappy .item-cell-image a.image-link.desk2{background: url(/site/pp-sources/workhappy/desk_2.jpg) center center no-repeat;}
#workhappy .item-cell-image a.image-link.desk3{background: url(/site/pp-sources/workhappy/desk_3.jpg) center center no-repeat;}

#workhappy .item-cell-image a.image-link.paper1{background: url(/site/pp-sources/workhappy/paper_1.jpg) center center no-repeat;}
#workhappy .item-cell-image a.image-link.paper2{background: url(/site/pp-sources/workhappy/paper_2.jpg) center center no-repeat;}
#workhappy .item-cell-image a.image-link.paper3{background: url(/site/pp-sources/workhappy/paper_3.jpg) center center no-repeat;}

#workhappy .item-cell-image a.image-link.furn1{background: url(/site/pp-sources/workhappy/furn_1.jpg) center center no-repeat;width: 293px;}
#workhappy .item-cell-image a.image-link.furn2{background: url(/site/pp-sources/workhappy/furn_2.jpg) center center no-repeat;width: 327px;}
#workhappy .item-cell-image a.image-link.furn3{background: url(/site/pp-sources/workhappy/furn_3.jpg) center center no-repeat;}

#workhappy .item-cell-image a.image-link.gift1{background: url(/site/pp-sources/workhappy/gift_1.jpg) center center no-repeat;width: 293px;}
#workhappy .item-cell-image a.image-link.gift2{background: url(/site/pp-sources/workhappy/gift_2.jpg) center center no-repeat;width: 293px;}
#workhappy .item-cell-image a.image-link.gift3{background: url(/site/pp-sources/workhappy/gift_3.jpg) center center no-repeat;width: 293px;}

/*product images  hover*/
#workhappy .item-cell-image a.image-link.desk1:hover{background: url(/site/pp-sources/workhappy/desk_1a.jpg) center center no-repeat;}
#workhappy .item-cell-image a.image-link.desk2:hover{background: url(/site/pp-sources/workhappy/desk_2a.jpg) center center no-repeat;}
#workhappy .item-cell-image a.image-link.desk3:hover{background: url(/site/pp-sources/workhappy/desk_3a.jpg) center center no-repeat;}

#workhappy .item-cell-image a.image-link.paper1:hover{background: url(/site/pp-sources/workhappy/paper_1a.jpg) center center no-repeat;}
#workhappy .item-cell-image a.image-link.paper2:hover{background: url(/site/pp-sources/workhappy/paper_2a.jpg) center center no-repeat;}
#workhappy .item-cell-image a.image-link.paper3:hover{background: url(/site/pp-sources/workhappy/paper_3a.jpg) center center no-repeat;}

#workhappy .item-cell-image a.image-link.furn1:hover{background: url(/site/pp-sources/workhappy/furn_1a.jpg) center center no-repeat;}
#workhappy .item-cell-image a.image-link.furn2:hover{background: url(/site/pp-sources/workhappy/furn_2a.jpg) center center no-repeat;}
#workhappy .item-cell-image a.image-link.furn3:hover{background: url(/site/pp-sources/workhappy/furn_3a.jpg) center center no-repeat;}

#workhappy .item-cell-image a.image-link.gift1:hover{background: url(/site/pp-sources/workhappy/gift_1a.jpg) center center no-repeat;}
#workhappy .item-cell-image a.image-link.gift2:hover{background: url(/site/pp-sources/workhappy/gift_2a.jpg) center center no-repeat;}
#workhappy .item-cell-image a.image-link.gift3:hover{background: url(/site/pp-sources/workhappy/gift_3a.jpg) center center no-repeat;}

#workhappy .description{
	display: block;
	position: relative;
	margin-top: 20px;
	font-size: 20px;
	font-family: 'OmnesLightRegular', sans-serif;
	text-align: center;
	color: #000000;
}
#workhappy .left-prefooter{
	float: left;
	width: 295px;
}
#workhappy .right-prefooter{
	float: left;
	width: 672px;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#workhappy .right-prefooter p{
	font-family: OmnesRegularRegular;
	padding-left: 30px;
}
#workhappy p.blue-prefooter-heading{
    font-family: OmnesBoldRegular;
	color: #1ba4e3;
	font-size: 20px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 0;
}
#workhappy .prefooter-info{
	color: #000000;
	font-size: 19px;
	margin: 0;
}
#workhappy .prefooter-info strong{
    font-family: OmnesBoldRegular;
}
#workhappy .prefooter-info a{
    font-family: OmnesBoldRegular;
    color: #000000;
	text-decoration: underline;
}
#workhappy .cat-heading.prefooter p{
    font-size: 22px;
}
#workhappy .cat-heading.prefooter a{
    font-family: OmnesBoldRegular;
}
#workhappy .footer-img{
	width: 967px;
	height: 129px;
	background: url(/site/pp-sources/workhappy/footer_img.jpg) center no-repeat; ;
	clear: both;
}
/*leadform*/
#leadform-overlay{
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba( 0, 0, 0, 0.5);
}
#leadform-overlay{
    display: none;
}
#leadform-overlay .leadform{
    position: relative;
    width: 785px;
    height: 612px;
    top: 50%;
    left: 50%;
    margin: -306px 0 0 -392px;
    cursor: default;
}
#leadform-overlay .leadform .close-button{
    position: relative;
    width: 133px;
    height: 75px;
    top: -648px;
    left: 710px;
    cursor: pointer;
    background: url(/site/pp-sources/workhappy/close-button.gif) center no-repeat;
}
/*image preloader*/
#image-preloader{
    position: absolute;
    top: -100500px;
    background-image: url(/site/pp-sources/workhappy/desk_1a.jpg),url(/site/pp-sources/workhappy/desk_2a.jpg),url(/site/pp-sources/workhappy/desk_3a.jpg),
    url(/site/pp-sources/workhappy/paper_1a.jpg),url(/site/pp-sources/workhappy/paper_2a.jpg),url(/site/pp-sources/workhappy/paper_3a.jpg),
    url(/site/pp-sources/workhappy/furn_1a.jpg),url(/site/pp-sources/workhappy/furn_2a.jpg),url(/site/pp-sources/workhappy/furn_3a.jpg),
    url(/site/pp-sources/workhappy/gift_1a.jpg),url(/site/pp-sources/workhappy/gift_2a.jpg),url(/site/pp-sources/workhappy/gift_3a.jpg);
    background-position: center bottom, left top;
    background-repeat: no-repeat;
}
#workhappy .slide-wrap{
    height: 373px;
    margin: 0;
}