<style>
    #div__body{
        padding-bottom: 0;
    }
    td.td-left{
        display: none;
    }
    .clr{
        clear: both;
    }
    #cleanOff .head-div{
        background: url(http://poppin.imgix.net/pp-sources/clean-off/head-div.jpg) center no-repeat;
        position: relative;
        width: 966px;
        height: 286px;
        margin-bottom: 40px;
    }
    #cleanOff .head-div p{
        font-family: OmnesMediumRegular;
        font-size: 26px;
        position: absolute;
        top: 50px;
        left: 65px;
    }
    #cleanOff .head-div p span{
        font-family: OmnesSemiBold;
        font-size: 20px;
        padding-bottom: 14px;
        text-transform: uppercase;
        display: inline-block;
    }
    #cleanOff .cont-div{
        overflow: hidden;
    }
    #cleanOff .pic-div{
        float: left;
        margin-right: 52px;
        margin-bottom: 40px;
    }
    #cleanOff .pic-div.last{
        margin-right: 0;
    }
    #cleanOff a.picA{
        display: block;
        margin-bottom: 20px;
    }
    #cleanOff a.picA:hover + a.textA{
        text-decoration: underline;
    }
    #cleanOff a.textA{
        text-decoration: none;
        text-align: center;
        width: 100%;
        display: inline-block;
        font-family: OmnesMediumRegular;
        font-size: 16px;
        color: #000;
    }
    #cleanOff a.textA:hover {
        text-decoration: underline;
    }

</style>
<div id="cleanOff">
    <div class="head-div">
        <p><span>Happy Clean Off Your Desk Day!</span></br/>Not a neatnik by nature?<br/>We’re here to help you<br/>clean up your act.</p>
    </div>
    <div class="cont-div">
        <div class="pic-div">
            <a class="picA" href="http://www.poppin.com/desk-file-boxes/">
                <img width="200px" src="http://poppin.imgix.net/pp-sources/clean-off/MAGAZINEFILEBOXES.jpg?auto=format" alt=""/>
            </a>
            <a class="textA" href="http://www.poppin.com/desk-file-boxes/">Shop Magazine + File Boxes ></a>
        </div>
        <div class="pic-div">
            <a class="picA" href="http://www.poppin.com/Trays-Pen-Cups/">
                <img width="200px" src="http://poppin.imgix.net/pp-sources/clean-off/ORGANIZATIONTRAYS.jpg?auto=format" alt=""/>
            </a>
            <a class="textA" href="http://www.poppin.com/Trays-Pen-Cups/"> Shop Organization Trays ></a>
        </div>
        <div class="pic-div">
            <a class="picA" href="http://www.poppin.com/pen-holders/">
                <img width="200px" src="http://poppin.imgix.net/pp-sources/clean-off/PENHOLDERS.jpg?auto=format" alt=""/>
            </a>
            <a class="textA" href="http://www.poppin.com/pen-holders/">Shop Pen Holders ></a>
        </div>
        <div class="pic-div last">
            <a class="picA" href="http://www.poppin.com/Paper-Products/Soft-Cover/">
                <img width="200px" src="http://poppin.imgix.net/pp-sources/clean-off/NOTEBOOKS.jpg?auto=format" alt=""/>
            </a>
            <a class="textA" href="http://www.poppin.com/Paper-Products/Soft-Cover/"> Shop Notebooks ></a>
        </div>
        <div class="clr"></div>


        <div class="pic-div">
            <a class="picA" href="http://www.poppin.com/Ballpoint-Pens/">
                <img width="200px" src="http://poppin.imgix.net/pp-sources/clean-off/WRITING.jpg?auto=format" alt=""/>
            </a>
            <a class="textA" href="http://www.poppin.com/Ballpoint-Pens/">Shop Writing ></a>
        </div>
        <div class="pic-div">
            <a class="picA" href="http://www.poppin.com/Staplers/">
                <img width="200px" src="http://poppin.imgix.net/pp-sources/clean-off/STAPLERS.jpg?auto=format" alt=""/>
            </a>
            <a class="textA" href="http://www.poppin.com/Staplers/">Shop Staplers ></a>
        </div>
        <div class="pic-div">
            <a class="picA" href="http://www.poppin.com/Desktop/Tape-Dispensers/">
                <img width="200px" src="http://poppin.imgix.net/pp-sources/clean-off/TAPEDISPENSER.jpg?auto=format" alt=""/>
            </a>
            <a class="textA" href="http://www.poppin.com/Desktop/Tape-Dispensers/">Shop Tape Dispensers ></a>
        </div>
        <div class="pic-div last">
            <a class="picA" href="http://www.poppin.com/Desktop/Mouse-Pads/">
                <img width="200px" src="http://poppin.imgix.net/pp-sources/clean-off/MOUSEPADS.jpg?auto=format" alt=""/>
            </a>
            <a class="textA" href="http://www.poppin.com/Desktop/Mouse-Pads/">Shop Mouse Pads ></a>
        </div>
        <div class="clr"></div>


        <div class="pic-div">
            <a class="picA" href="http://www.poppin.com/Desktop/Scissors/">
                <img width="200px" src="http://poppin.imgix.net/pp-sources/clean-off/SCISSORS.jpg?auto=format" alt=""/>
            </a>
            <a class="textA" href="http://www.poppin.com/Desktop/Scissors/">Shop Scissors ></a>
        </div>
        <div class="pic-div">
            <a class="picA" href="http://www.poppin.com/Desktop/Rulers/">
                <img width="200px" src="http://poppin.imgix.net/pp-sources/clean-off/RULERS.jpg?auto=format" alt=""/>
            </a>
            <a class="textA" href="http://www.poppin.com/Desktop/Rulers/">Shop Rulers ></a>
        </div>
        <div class="pic-div">
            <a class="picA" href="http://www.poppin.com/Folios_Folders_2/">
                <img width="200px" src="http://poppin.imgix.net/pp-sources/clean-off/FOLIOS.jpg?auto=format" alt=""/>
            </a>
            <a class="textA" href="http://www.poppin.com/Folios_Folders_2/">Shop Folios ></a>
        </div>
        <div class="pic-div last">
            <a class="picA" href="http://www.poppin.com/office-kitchen/">
                <img width="200px" src="http://poppin.imgix.net/pp-sources/clean-off/COASTERS.jpg?auto=format" alt=""/>
            </a>
            <a class="textA" href="http://www.poppin.com/office-kitchen/"> Shop Kitchenware ></a>
        </div>
        <div class="clr"></div>

    </div>
</div>