<style>
    #div__body{
        padding-bottom: 0;
    }
    td.td-left{
        display: none;
    }
    .clr{
        clear: both;
    }
    #getOrg{
        width: 968px;
        margin: 0 auto;
    }
    #getOrg h1{
        font-size: 85px;
        font-family: OmnesSemiBold;
        text-align: center;
        margin-bottom: 10px;
    }
    #getOrg p.checkout{
        font-size: 28px;
        font-family: OmnesRegularRegular;
        text-align: center;
        margin-top: 10px;
    }
    #getOrg .head{
        background: url(http://poppin.imgix.net/pp-sources/get-organized/pic1.jpg) center no-repeat;
        width: 968px;
        height: 445px;
        position: relative;
    }
    #getOrg .head .head-head{
        font-family: OmnesMediumRegular;
        font-size: 18px;
        letter-spacing: 5px;
        position: absolute;
        top: 50px;
        right: 110px;
    }
    #getOrg .head .head-p span{
        display: block;
        font-size: 32px;
        font-family: OmnesSemiBold;
        text-align: center;
        margin-bottom: 10px;
        line-height: 30px;
    }
    #getOrg .head .head-p{
        font-size: 20px;
        font-family: OmnesRegularRegular;
        text-align: center;
        width: 205px;
        position: absolute;
        top: 150px;
        right: 111px;
    }
    #getOrg .afterhead{
        box-sizing: border-box;
        width: 100%;
        height: 188px;
        background: #82d6d5;
        border: 20px solid #63ccca;
        position: relative;
        margin-bottom: 20px;
    }
    #getOrg .afterhead .flag{
        background: url(http://poppin.imgix.net/pp-sources/get-organized/flag.png) center no-repeat;
        width: 340px;
        height: 32px;
        position: absolute;
        left: -20px;
        top: -7px;
        font-size: 24px;
        font-family: OmnesLightRegular;
        padding-left: 20px;
        box-sizing: border-box;
        color: #fff;
        padding-top: 2px;
    }
    #getOrg .afterhead .afterhead-left {
        float: left;
        width: 530px;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        top: 45px;
    }
    #getOrg .afterhead .afterhead-left .percent-off{
        font-size: 57px;
        font-family: OmnesBoldRegular;
        float: left;
        padding-left: 20px;
        line-height: 57px;
    }
    #getOrg .afterhead .afterhead-left .afterhead-customized{
        font-size: 22px;
        font-family: OmnesRegularRegular;
        float: left;
        padding-top: 5px;
        padding-left: 15px;
    }
    #getOrg .afterhead .afterhead-right {
        font-size: 22px;
        font-family: OmnesRegularRegular;
        float: left;
        width: 381px;
        border-left: 1px solid #000;
        box-sizing: border-box;
        position: relative;
        top: 45px;
        text-align: center;
        padding: 5px 0;
    }
    #getOrg .afterhead .afterhead-right span {
        font-size: 22px;
        font-family: OmnesBoldRegular;
    }
    #getOrg .line{
        width: 100%;
        height: 1px;
        background: #000;
        margin-bottom: 20px;
    }
    #getOrg .line.nomargin {
        margin-bottom: 0;
    }
    #getOrg .afterhead2{
        box-sizing: border-box;
        width: 100%;
        height: 188px;
        background: #50a4cd;
        border: 20px solid #248dc1;
        position: relative;
        margin-bottom: 20px;
        font-size: 30px;
        font-family: OmnesRegularRegular;
        text-align: center;
        padding-top: 30px;
    }
    #getOrg .afterhead2 span{
        font-family: OmnesBoldRegular;
    }
    #getOrg .tip2{
         background: url(http://poppin.imgix.net/pp-sources/get-organized/pic2b.jpg) center no-repeat;
         height: 695px;
         width: 968px;
         position: relative;
         background-size: contain;
    }
    #getOrg .tip3{
        background: url(http://poppin.imgix.net/pp-sources/get-organized/pic3b.jpg) center no-repeat;
        height: 692px;
        width: 968px;
        position: relative;
        background-size: contain;
    }
    #getOrg .tip-head{
        font-family: OmnesBoldRegular;
        font-size: 48px;
        position: absolute;
        text-align: center;
        top: 230px;
        left: 318px;
    }
    #getOrg .tip2 .tip-head{
        top: 240px
    }
    #getOrg .tip2 .tip-body{
        top: 320px
    }
    #getOrg .tip-body{
        font-size: 24px;
        font-family: OmnesRegularRegular;
        position: absolute;
        text-align: center;
        left: 342px;
        top: 310px;
    }
</style>
<div id="getOrg">
    <h1>Get Organized!</h1>
    <p class="checkout">Check out our top tips for getting it together... and keeping it together all year long.</p>
    <div class="head">
        <div class="head-head">ORGANIZATION</div>
        <div class="head-p"><span>Keep a daily to-do list.</span> Writing daily to-do lists in a notebook helps prioritize tasks, focusing time and energy on critical activities, which increases productivity and boosts self-esteem.</div>
    </div>
    <div class="afterhead">
        <div class="flag">
            Get organized + customized!
        </div>
        <div class="afterhead-left">
            <div class="percent-off">15% OFF</div>
            <div class="afterhead-customized">customized notebooks<br/>when you buy 300 or more.</div>
        </div>
        <div class="afterhead-right">
            Call your Workstylist to find out more!<br/><span>(866)926-4922</span>
        </div>
        <div class="clr"></div>
    </div>
    <div class="line"></div>
    <div class="afterhead2">
        Call your Workstylist today for customized organization tips!<br/><span>(866)926-4922</span>
    </div>
    <div class="line nomargin"></div>
    <div class="tip2">
        <div class="tip-head">
            COMING SOON!
        </div>
        <div class="tip-body">
            Check back on 1/20 for Tip #2<br/>and a special promo!
        </div>
    </div>
    <div class="line nomargin"></div>
    <div class="tip3">
        <div class="tip-head">
            COMING SOON!
        </div>
        <div class="tip-body">
            Check back on 1/27 for Tip #3<br/>and a special promo!
        </div>
    </div>
</div>