td#contentBody{
	padding: 0;

}
tbody#content_master tr{
	color: #333;
	font-size: 17px;
	vertical-align: top;

}
tbody#content_master tr:not(:last-child){
	background: url(/site/pp-sources/business/bg-dotted-small.gif) repeat-x left bottom;

}
tbody#content_master td{
	padding: 40px 0 40px 0;

}
tbody#content_master h1{
	color: #f67a00;
	font-family: OmnesLightRegular, Arial, Helvetica, sans-serif;
	font-size: 48px;
	margin: 0 0 10px;

}
tbody#content_master h2{
	color: #f37a31;
	padding-bottom: 6px;

}
tbody#content_master h3{
	

}
tbody#content_master h4{
	font-family: OmnesMediumRegular;
	font-size: 19px;
	font-weight: bold;

}
tbody#content_master p{
	margin: 0px 0px 10px 0px;

}

