Input-files: *.txt address/*.txt address/macros/*.txt creditcard/*.txt creditcard/macros/*.txt globals/*.txt globals/macros/*.txt home/*.txt home/macros/*.txt header/*.txt header/macros/*.txt footer/*.txt footer/macros/*.txt order/*.txt order/macros/*.txt profile/*.txt receipt/*.txt reorder_items/*.txt shopping_cart/*.txt shopping_cart/macros/*.txt content/*.txt
Combined-file: Templates.js
Keep-files: 2
Referring-files: ../*.ssp
Version: 2
Variable-name: SC.templates