//
// Mega-Menu
// Menu layout for categories
// --------------------------------------------------
.mega-menu {
	padding:25px 35px 25px 35px;
	border: 0;
	border-radius:0;
	font-family: @font-family;
}
.mega-menu a {
	color: @black;
	text-decoration:none;
	white-space: normal;
}
.mega-menu h4 {
	font-weight:bold;
}
.mega-menu hr {
	margin:0;
	margin-bottom: 12px;
	border:1px solid #e2e2e2;
	border-style: solid;
}
.mega-menu > .nav {
	padding: 0 10px 0 0;
}

//Colors for Categories
.categoryColorRed {
	border-top: 4px solid #d31245;
	border-bottom: 4px solid #d31245;
}
.categoryColorBlue {
	border-top: 4px solid #00a5d9;
	border-bottom: 4px solid #00a5d9;
}
.categoryColorPurple {
	border-top: 4px solid #52247f;
	border-bottom: 4px solid #52247f;
}
.categoryColorPink {
	border-top: 4px solid #eb4498;
	border-bottom: 4px solid #eb4498;
}
.categoryColorGrey {
	border-top: 4px solid #d4d4d4;
	border-bottom: 4px solid #d4d4d4;
}
.categoryColorOrange {
	border-top: 4px solid #f47b20;
	border-bottom: 4px solid #f47b20;
}
.categoryColorYellow {
	border-top: 4px solid #ffd200;
	border-bottom: 4px solid #ffd200;
}
.categoryColorAqua {
	border-top: 4px solid #68c8c6;
	border-bottom: 4px solid #68c8c6;
}

