#workhappy-pinboard {
    width: 968px;
}
#workhappy-pinboard .clr{
    clear: both;
}
#workhappy-pinboard .heading{
    text-align: center;
    margin-bottom: 15px;
    width: 968px;
    height: 167px;
    background: url(/site/pp-sources/workhappy-pinboard/heading.jpg)right center no-repeat;
}
#workhappy-pinboard .heading h1{
    font-size: 80px;
    font-weight: normal;
    font-family: OmnesMediumItalic;
    font-style: italic;
    color: #f87c02;
    margin-top: 0;
}
#workhappy-pinboard .heading h1 strong{
    font-family: OmnesSemiboldItalic;
}
#workhappy-pinboard .heading p{
    text-align: right;
    color: #777777;
    font-size: 18px;
    margin: 0;
}
#workhappy-pinboard .widget-header-upload{
margin-right: 0;
}
#workhappy-pinboard .widget-header-upload p{
    font-size: 30px;
    font-family: OmnesMediumItalic;
    color: #777777;
    margin-top: 0;
    text-align: right;
    margin-bottom: 10px;
}
#workhappy-pinboard .widget-header-upload p img{
    display: inline-block;
    vertical-align: middle;
    margin: 0 5px 0;
    width: 24px;
}
#workhappy-pinboard .widget-header-upload p a.poppin_photorank_uploader{
    background: #f87c02 url(/site/pp-sources/workhappy-pinboard/arrowv.jpg)right center no-repeat;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: inline-block;
    color: #ffffff;
    font-size: 18px;
    padding: 3px 45px 3px 30px;
    margin-left: 8px;
    position: relative;
    top: -1px;
}
#workhappy-pinboard .widget-header-upload p strong{
    font-family: OmnesBoldItalic;
}
#workhappy-pinboard .widget-footer{
    margin-bottom: 20px;
}
#workhappy-pinboard #olapic-widget-wall-wrapper .widget-main{
    margin-top: 0;
    float: left;
    width: 850px;
    margin-left: 10px;
}
#workhappy-pinboard .poppin_structure{
    position: relative;
    float: left;
    margin-top: 60px;
}
#workhappy-pinboard .poppin_structure h3{
    color: #787878;
    font-family: OmnesBoldRegular;
    font-size: 14px;
    margin-bottom: 0;
}
#workhappy-pinboard .poppin_structure ul{
    padding: 0;
    list-style: none;
    margin-bottom: 30px;
}
#workhappy-pinboard .poppin_structure .widget-header-streams-filter {
    padding: 0;
    margin-top: 0;
}
#workhappy-pinboard .poppin_structure .widget-header-streams-filter li a,
#workhappy-pinboard .poppin_structure .widget-header-streams-filter li a.active,
#workhappy-pinboard .poppin_structure .widget-header-streams-filter li a:hover
{
    background: none;
    padding: 0;
    color: #787878;
    font-size: 14px;
}
#workhappy-pinboard .poppin_structure .widget-header-streams-filter li{
    margin: 5px 0;
}
#workhappy-pinboard .widget-header{
    display: none;
}
#workhappy-pinboard  #olapic-widget-wall-wrapper .widget-main-images{
    width: 100%;
}
#workhappy-pinboard .poppin_structure #filters-all{
    display: block;
}

.breadcrumbs{
    display: none;
}
#contentBody, #div__body{
    padding-bottom: 0;
}
.heading .social-links a{
    display: inline-block;
    width: 22px;
    height: 22px;
}
.heading .social-links .facebook {
    background: url(/site/pp-templates/poppin-sprite.png) -22px -14px;
}
.heading .social-links .twitter {
    background: url(/site/pp-templates/poppin-sprite.png) -44px -14px;
}
.heading .social-links .linkedin {
    background: url(/site/pp-templates/linkedin.png) no-repeat 0 0;
}