@font-face { font-family: 'OmnesLightRegular'; src: url('../pp-files/fonts/omnes-light-webfont.eot'); src: url('../pp-files/fonts/omnes-light-webfont.eot?#iefix') format('embedded-opentype'), url('../pp-files/fonts/omnes-light-webfont.woff') format('woff'), url('../pp-files/fonts/omnes-light-webfont.ttf') format('truetype'), url('../pp-files/fonts/omnes-light-webfont.svg#OmnesLightRegular') format('svg'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'OmnesRegularRegular'; src: url('../pp-files/fonts/omnes-regular-webfont.eot'); src: url('../pp-files/fonts/omnes-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../pp-files/fonts/omnes-regular-webfont.woff') format('woff'), url('../pp-files/fonts/omnes-regular-webfont.ttf') format('truetype'), url('../pp-files/fonts/omnes-regular-webfont.svg#OmnesRegularRegular') format('svg'); font-weight: normal; font-style: normal;}
@font-face { font-family: 'OmnesMediumRegular'; src: url('../pp-files/fonts/omnes-medium-webfont.eot'); src: url('../pp-files/fonts/omnes-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../pp-files/fonts/omnes-medium-webfont.woff') format('woff'), url('../pp-files/fonts/omnes-medium-webfont.ttf') format('truetype'), url('../pp-files/fonts/omnes-medium-webfont.svg#OmnesMediumRegular') format('svg'); font-weight: normal; font-style: normal;}

* { font-family: 'OmnesRegularRegular', sans-serif;}

/* NS CSS */
.loading-customcart { width: 1000px; margin: 0 auto; padding: 250px 0; text-align: center; }
.loading-customcart span { background: url(../pp-body/loading-page.gif) no-repeat left 50%; padding: 8px 0 8px 36px; }
body, td, select, textarea, input, .textbold, .textboldul, .medtextbold, .smalltext, .text, .crumb, .crumbover, .input, .inputreadonly, .inputtotalling, .totallingcurrency { color: inherit; font-size: inherit; }
.smalltextnolink { font-size: inherit; }
.textbold, .textboldul, .medtextbold, .smalltext, .text { color: inherit; font-size: inherit; }
.bglt { background: none; /* background: #E9F2E3; */ }
.bgmd { background: none; /*background-color: #ACC49C;*/ }
.pgBntG img, .pgBntG_sel img, .pgBntY img, .pgBntY_sel img, .pgBntGDis img, .pgBntYDis img { background: none; }
.pgBntG .bntBgT { background: none; }
.pgBntG .bntBgB { background: none; }
.tabBnt img, .tabBnt_sel img, .tabBntDis img { background: none; }
.tabBnt .bntBgB, .tabBnt_sel .bntBgB { background: none; }

/* Buttons */
#removecoupon, #cleargift, #applygift, #applycoupon, #resetter, #secondaryresetter, #cancel, #saveprint, #saveemail, #gotoregister, #clear, #unmarkall, #markall, #secondarysaveprint, #secondarysaveemail, #secondarygotoregister, #autofill, #custpage_ava_calculatetax, #calculatepromotion, #secondaryautofill, #secondarycustpage_ava_calculatetax, #edit, #delete { cursor: pointer; padding: 2px 5px; background: #f1f1f1; border: 1px solid #f1f1f1; border-radius: 15px; text-transform: uppercase; color: #f47a20; }

#register, #submitter, #change, #continue, #fauxsubmit, #secondarysubmitter, #searchbtn, #payall, #done, #submitclose, #secondarysubmitclose, #use,
#new { cursor: pointer; padding: 2px 5px; background: #f47a20; border: 1px solid #f47a20; border-radius: 15px; text-transform: uppercase; color: #fff; }

/* GENERAL */
html { background: none; }
body { background: url("../pp-body/bg-footer.png") repeat-x scroll center bottom #FFFFFF; color: #333333; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; margin: 0; -webkit-text-size-adjust: none; }
body form { font-size: inherit!important; }
a{ text-decoration: none; color: #f57b20; }
a img{ border: 0; }
h1, h2, h3, h4, h5, h6{ margin: 0; font-weight: normal; }
select, textarea, input{ font-family: Arial, Helvetica, sans-serif; }
input, input.input, select, select.input { color: #333; border: 1px solid #ccc; background: #fff; padding: 1px; font-size: 11px; }
input.bgbutton{ color: #fff; background: #999; border: 1px solid #808080; font-size: 11px; font-weight: bold; padding: 2px; }
input.nlbutton{ background: #777; border:1px solid #505050; color: #fff; font-size: 11px; font-weight: bold; padding: 2px; }
input.inputreq, select.inputreq{ color: #333; border: 1px solid #ccc; background: #f0f0f0;}
.hidden { display: none; }
/* ##### AAE MINI CART ##### */
.container-mini-cart { position: relative; width: 968px; margin: 0 auto; }
.mct { width: 428px; background: #f1f1f1; border: 1px solid #bbbbbb; border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; padding: 18px; right: 0; top: 26px; z-index: 100000; position: absolute; display: none; }
.mct .title-sidebar { border-bottom: 1px solid #666; padding-bottom: 12px; overflow: hidden; margin: 0 0 15px; }
.mct .title-sidebar span { font-size: 24px; font-weight: bold; color: #666; }
.mct .title-sidebar a { float: right; background: url(../pp-header/btn-checkout.gif) no-repeat left top; width: 104px; height: 25px; overflow: hidden; text-indent: -999px; }
.mct .top-info { overflow: hidden; color: #f57b20; font-weight: bold; font-size: 10px; margin: 0 0 10px; text-transform: uppercase; }
.mct .top-info .head-col-item { width: 266px; float: left; }
.mct .top-info .head-col-qty { width: 47px; float: left; text-align: center; }
.mct .top-info .head-col-price { width: 82px; padding-left: 22px; float: left; }
.mct #mct_cnt_items { background: url(../pp-header/mc-border-bottom.gif) repeat-x left bottom; padding: 0 0 1px 0; margin: 0 0 15px 0; }
.mct .item-list { margin: 0; padding: 0; list-style: none; background: url(../pp-header/mc-bg.gif) repeat-y 382px top}
.mct .item-list li { overflow: hidden; margin: 0 0 12px; }
.mct .item-list li .col-info { width: 374px; padding: 0 0 14px 0; margin: 0 24px 0 0; float: left; background: url(../pp-header/mc-border-bottom.gif) repeat-x left bottom; }
.mct .item-list li .col-info .cell-image { width: 30px; height: 30px; overflow: hidden; margin: 0 17px 0 0; float: left; }
.mct .item-list li .col-info .cell-image img { max-width: 30px; max-height: 30px; }
.mct .item-list li .col-info .cell-name { font-size: 16px; color: #666; font-weight: bold; }
.mct .item-list li .col-info .cell-name a { color: #666; }
.mct .item-list li .col-info .cell-options { display: none; }
.mct .item-list li .col-qty { float: left; width: 21px; padding-left: 1px; }
.mct .item-list li .col-qty input{width:21px;height:22px;line-height:22px;padding:0;border:1px solid #b4b4b4; font-weight: bold;color:#666;text-align:center;margin-top:8px}
.mct .item-list li .col-price { float: left; width: 82px; padding-left: 22px; font-size: 16px; font-weight: bold; color: #666; }
.mct .item-list li .col-remove { display: none}
.mct .mc-foot { overflow: hidden}
.mct .mc-foot .mc-foot-content {color: #A3A3A3;font-size: 17px}
.mct .mc-foot .mc-foot-content .total { float: right; padding-left: 15px; }
.mct .mc-foot .mc-foot-content .total .title { color: #f57b20; font-weight: bold; font-size: 10px; display: block; text-transform: uppercase; padding-left: 4px; margin-bottom: 2px; }
.mct .mc-foot .mc-foot-content .total .total-price { font-size: 16px; font-weight: bold; color: #666; display: block; }
.mct .mc-foot .mc-foot-content a {background: #F57B20;height: 25px;color: white;font-weight: 700;text-align: center;padding: 0 10px;line-height: 25px;display: inline-block;border-radius: 10px}
.mct .item-list li:last-child .col-info{background:none}
#mct_viewmore {padding: 2px;display: block;text-align: center;background: #F57B20;color: white;margin: 0 0 5px}
.container-mini-cart.fixed-cart { position: fixed; top: 0; }
.container-mini-cart.fixed-cart .mct { border-top: 0; top: 88px; right: 75px; }
.logout-layout #div__body { padding-top: 50px; }

/* HTML5 fix */
article, section, aside, nav, header, footer { display: block; }

/* NS HTML */
#server_commands, #entry_form_frame, #list, #serversync { display: block; border: 0; height: 0; }
#outerwrapper { background: url("../pp-body/bg-top.png") repeat-x scroll left top transparent; }
#div__body { margin: 0 auto; padding-bottom: 35px; width: 968px;}

/* ########## HEADER ########## */
#div__header { width: 968px; margin: 0 auto; }
.header-container { height: 194px; }
.top-links { width: 100%; height: 26px; }
.top-links ul { margin: 0; padding: 0; list-style: none; float: right; }
.top-links ul li { border-left: 1px solid #FEBE7C; color: #FFFFFF; float: left; font-size: 10px; padding: 6px 0 7px;  text-align: center; text-transform: uppercase; width: 99px;}
.top-links ul li a { color: #fff; }
.top-links ul ul { position: absolute; left: -999px; top: -999px; background: #f67a00; }
.top-links ul li.over { position: relative; }
.top-links ul li.over ul { left: 0; top: 26px; }
.top-links ul li li { border: 0; float: none; padding: 6px 0; }
.top-links ul li.mini-cart { width: auto; padding: 0; border: 1px solid #e6e6e6; border-top: 0; }
.top-links ul li.mini-cart a { padding: 5px 13px 8px 42px; background: #f1f1f1 url(../pp-templates/poppin-sprite.png) -178px 0; display: block; font-size: 12px; color: #f67a00; font-weight: bold; }
.header-container .logo { float: left; margin: 25px 0 24px 0; }
.header-container .logo a {background:url(../pp-templates/poppin-sprite.png) no-repeat scroll 0 -58px; display: block; height: 37px; outline: medium none; overflow: hidden; text-indent: -999px; width: 330px;}
.header-container .search-social { float: right; padding: 22px 0 0; margin: 0; }
.header-container .search-social .search { width: 318px; height: 22px; overflow: hidden; margin-bottom: 8px; }
.header-container .search-social .table-global-search { border-collapse: collapse; }
.header-container .search-social .table-global-search table { border-collapse: collapse; }
.header-container .search-social .table-global-search td { padding: 0; vertical-align: top; }
.header-container .search-social .table-global-search .smalltextnolink { display: none; }
.header-container .search-social .table-global-search .input { border: 1px solid #e4e4e4; border-right: 0; background:#F3F3F3 url(../pp-templates/poppin-sprite.png) no-repeat -71px -33px; padding: 4px 10px 3px 34px; width: 237px; float: right; color: #9d9d9d; font-size: 11px; margin: 0; height: 13px; line-height: 13px; }
.header-container .search-social .table-global-search #go { background: url(../pp-templates/poppin-sprite.png) -24px -36px; border: 0; float: left; cursor: pointer; padding: 0; width: 36px; height: 22px; }
.header-container .search-social .free-shipping-container {float: right;
    height: 32px;}
.header-container .search-social .free-shipping-container span{background: url(../pp-templates/poppin-sprite.png) -30px 0;
    float: left;
    height: 14px;
    margin: 0 0 12px;
    overflow: hidden;
    text-indent: -900px;
    width: 28px;}
.header-container .search-social .free-shipping-container .freeshipping { color: #F47A20;
    float: left;
    font-family: 'OmnesRegularRegular';
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 12px 5px;
    padding: 1px 0 0;
    text-transform: uppercase;}
#nav { clear: both; /*background: url(../pp-header/bg-nav.gif) repeat-x center top #f7f5f5;*/ background: #f7f5f5;position: relative; }
#nav a.shop_color{background: url("../pp-header/arrow-orange.png") no-repeat scroll right center transparent;
    color: #9A9A9A;
    float: left;
    font-size: 11px;
    font-weight: bold;
    left: 0;
    padding: 0 13px 0 8px;
    position: absolute;
    text-transform: uppercase;}
#nav a.shop_color span{line-height: 36px;}
#nav ul { margin: 0; padding: 0; list-style: none; }
#nav li { float: left; }
#nav .top-nav { height: 47px; /*background: url(../pp-header/bg-nav-logo.jpg) no-repeat -999px -999px;*/ background: url(../pp-header/ng-fixnav.png) no-repeat -999px -999px; }
#nav .top-nav li { font-size: 14px; font-weight: bold; color: #666; background: url(../pp-header/bg-nav.gif) repeat-x 0 0; padding: 5px 0 0; }
#nav .top-nav li.search { display: none; }
#nav .top-nav li.search .src-btn { background: #fff url(../pp-header/icon-search.gif) no-repeat center 18px; display: block; width: 50px; height: 56px; border-right: 1px solid #DADADA; border-top: 1px solid #DADADA; }
#nav .top-nav li.mini-cart { display: none; }
#nav .top-nav li.mini-cart a { background: #fff url(../pp-header/icon-mini-cart.gif) no-repeat center 19px; display: block; }
#nav .top-nav li.home-link-nav-fix { display: none; }
#nav .top-nav li.home-link-nav-fix a { display: block; background: url(../pp-header/bg-nav-logo.jpg) no-repeat left top; width: 163px; height: 56px; padding: 0; text-indent: -999px; }
#nav .top-nav li.last { background: url(../pp-header/header-nav-cross.png) no-repeat right 4px; }
#nav .top-nav li.last a{background: none repeat scroll 0 0 transparent; border: medium none; padding: 0; width: auto;}
#nav .top-nav li.last.over a, #nav .top-nav li.last a:hover{background: none repeat scroll 0 0 transparent; color: #00AEEF; font-weight: bold;}
#nav .top-nav li a { color: #666; display: block; padding: 14px 0 12px 0; background: #fff; width: 120px; text-align: center; border-right: 1px solid #dadada; }
#nav .top-nav li a:hover { background-color: #00aeef; color: #fff; }
#nav .top-nav li .no-link { display: block; padding: 14px 0 12px 0; width: 120px; text-align: center; background: url("../pp-header/bg-nav.gif") repeat-x left bottom; }
#nav .top-nav li .level2-container { position: absolute; left: -9999px; top: -9999px; width: 638px; padding: 14px 0 30px; background: rgba(246, 246, 246, 0.96); border-bottom: 6px solid #00aeef; }
#nav .top-nav li.everything-else .level2-container { height: 365px; }
#nav .top-nav li .level2-content { background: url(../pp-header/bg-drilldown.gif) repeat-y left top; overflow: hidden; }
#nav .top-nav li .level2-content .additional-content { float: right; width: 32%; }
#nav .top-nav li .level2-content .additional-content p { margin: 0; }
#nav .top-nav li .level2-content .additional-content p a { display: block; color: #666; font-size: 32px; padding: 25px 15px 25px 68px; border-bottom: 1px solid #b9b9b9; border-right: 0; width: auto; text-align: left; height: auto; }
#nav .top-nav li .level2-content .additional-content p a:hover { color: #bebebe; }
#nav .top-nav li .level2-content .additional-content p.by-color a { background: url(../pp-header/icon-shop-by-color.jpg) no-repeat left 16px; }
#nav .top-nav li .level2-content .additional-content p.free-shipping a { background: url(../pp-header/icon-free-shipping.jpg) no-repeat left 16px; }
#nav .top-nav li .level2-content .additional-content p.pencil a { border: 0; background: url(../pp-header/icon-pencils.jpg) no-repeat left 28px; line-height: 30px; }
#nav .top-nav li .level2-content .additional-content p.message { font-weight: normal; }
#nav .top-nav li.over { position: relative; z-index: 100; }
#nav .top-nav li.over .level2-container { left: 0; top: 47px; }
#nav .top-nav li.paper-products.over .level2-container { left: -121px; }
#nav .top-nav li.desktop.over .level2-container { left: -242px; }
#nav .top-nav li.back-to-school.over .level2-container { left: -363px; }
#nav .top-nav li.organization.over .level2-container { left: -363px; }
#nav .top-nav li.furniture.over .level2-container { left: -484px; }
#nav .top-nav li.tech.over .level2-container { left: -518px; }
#nav .top-nav li.everything-else.over .level2-container { left: -518px; }
#nav .top-nav li.over a { background-color: #00aeef; color: #fff; }
#nav .top-nav .level2-container ul { width: 50%; }
#nav .top-nav .level2-container li { float: none; background: none; padding: 0; }
#nav .top-nav li.over .level2-container li a { background: none; border: 0; text-align: left; width: auto; color: #bebebe; font-size: 20px; padding: 2px 20px 3px; font-family: "OmnesMediumRegular", Arial, Helvetica, sans-serif; font-weight: normal; height: auto; }
#nav .top-nav li.over .level2-container li a span { background: url(../pp-header/icon-drilldown.png) no-repeat right -31px; padding-right: 16px; }
#nav .top-nav li.over .level2-container li.last-level a span { background: none; }
#nav .top-nav li.over .level2-container li a:hover { color: #666; }
#nav .top-nav li.over .level2-container li a:hover span { background-position: right 7px; }
#nav .top-nav li .level3-container { position: absolute; left: -999px; top: -999px; }
#nav .top-nav li .level3-container ul { width: auto; }
#nav .top-nav li.over li.over { position: inherit; }
#nav .top-nav li.over li.over a { color: #666; }
#nav .top-nav li.over li.over a span { background-position: right 7px; }
#nav .top-nav li.over li.over .level3-container { left: 50%; top: 14px; width: 50%; bottom: 0; }
#nav .top-nav li.over li.over .level3-container a { color: #666; font-weight: normal; font-family: "OmnesRegularRegular", Arial, Helvetica, sans-serif; }
#nav .top-nav li.over li.over .level3-container a:hover { color: #bebebe; }
#nav .color-nav { float: left;
    height: 20px;
    margin: 0 0 0 112px;
    overflow: hidden;
    padding: 8px 5px 2px 10px;
    width: auto;}
#nav .color-nav li { margin: 0 1px; width: 82px;}
#nav .color-nav li a { display: block; height: 20px; overflow: hidden; text-align: center; font-size: 10px; color: #fff; font-weight: 500; text-transform: uppercase; }
#nav .color-nav li a span {display: none; font-size: 11px; padding: 3px 0 0; text-transform: capitalize;}
#nav .color-nav .black a { background: #000; }
#nav .color-nav .white a { background: #fff; border: 1px solid #dcdcdc; height: 18px; color: #000; }
#nav .color-nav .gray a { background: #5f6062; }
#nav .color-nav .brown a { background: #5a2900; }
#nav .color-nav .purple a { background: #52247f; }
#nav .color-nav .pink a { background: #eb4498; }
#nav .color-nav .red a { background: #d31245; }
#nav .color-nav .orange a { background: #f47b20; }
#nav .color-nav .navy a { background: #00457c; }
#nav .color-nav .pool-blue a { background: #00a5d9; }
#nav .color-nav .aqua a { background: #68c8c6; }
#nav .color-nav .lime-green a { background: #c1d82f; }
#nav .color-nav .yellow a { background: #ffd200; }
#nav.fixed-nav { position: fixed; top: 0; border-top: 7px solid #f57b20; left: 0; right: 0; z-index: 10000; background: none; }
#nav.fixed-nav .top-nav { width: 968px; height: 76px; background-repeat: repeat-x; background-position: left top; margin: 0 auto; }
#nav.fixed-nav .top-nav li { font-size: 13px; background: none; padding: 0; }
#nav.fixed-nav .top-nav li.last { background: #f7f5f5 url(../pp-header/header-nav-cross.png) no-repeat right 4px; float: left; }
#nav.fixed-nav .top-nav li.search { display: block; position: relative; }
#nav.fixed-nav .top-nav li.search .search-drilldown { display: none; position: absolute; right: 0; top: 57px; width: 318px; height: 22px; overflow: hidden; padding: 20px; background: rgba(246, 246, 246, 0.96); }
#nav.fixed-nav .top-nav li.search .search-drilldown .search-drilldown-content { overflow: hidden; }
#nav.fixed-nav .top-nav li.search .search-drilldown .input-search-drilldown { background: url(../pp-header/icon-search-top-fix.gif) no-repeat scroll 8px 1px #fff !important; border: 1px solid #E4E4E4; border-right: 0; color: #9D9D9D; float: left; padding: 4px 10px 3px 34px; width: 237px; height: 13px; font-size: 11px; margin: 0; }
#nav.fixed-nav .top-nav li.search .search-drilldown .input-search-submit { background: url(../pp-header/btn-search.gif) no-repeat scroll left top transparent; border: 0 none; cursor: pointer; float: left; height: 22px; padding: 0; width: 36px; }
#nav.fixed-nav .top-nav li.mini-cart { display: block; }
#nav.fixed-nav .top-nav li.mini-cart a { width: 56px; padding: 4px 0 32px; text-align: center; color: #f47a20; font-size: 16px; font-weight: bold; height: 20px; }
#nav.fixed-nav .top-nav li.mini-cart a:hover { background-color: #fff; }
#nav.fixed-nav .top-nav li.mini-cart.over a { background-color: #fff; }
#nav.fixed-nav .top-nav li.home-link-nav-fix { display: block; }
#nav.fixed-nav .top-nav li.home-link-nav-fix a { padding: 0; width: 163px; height: 56px; outline: none; }
#nav.fixed-nav .top-nav li .no-link { padding: 12px 0 0 7px; width: 54px; text-align: left; letter-spacing: -1px; overflow: hidden; border-top: 1px solid #F7F5F5; background: none; }
#nav.fixed-nav .top-nav li a { width: auto; padding: 20px 10px 21px; text-align: left; border-top: 1px solid #DADADA; height: 15px; }
#nav.fixed-nav .top-nav li.everything-else a { width: 70px; height: 31px; padding: 12px 10px 13px; }
#nav.fixed-nav .top-nav li.over .level2-container { left: -164px; top: 57px; }
#nav.fixed-nav .top-nav li.paper-products.over .level2-container { left: -276px; }
#nav.fixed-nav .top-nav li.desktop.over .level2-container { left: -393px; }
#nav.fixed-nav .top-nav li.organization.over .level2-container { left: -465px; }
#nav.fixed-nav .top-nav li.furniture.over .level2-container { left: -566px; }
#nav.fixed-nav .top-nav li.tech.over .level2-container { left: -588px; }
#nav.fixed-nav .top-nav li.everything-else.over .level2-container { left: -548px; }
#nav.fixed-nav .color-nav { margin: 0 auto; background-color: #F7F5F5; padding: 5px 9px; height: 14px; }
#nav.fixed-nav .color-nav li a { height: 14px; }
#nav.fixed-nav .color-nav .white a { height: 12px; }
#nav.fixed-nav .color-nav li a span { padding: 0; }
#nav.safari-browser { display: none; z-index: inherit; }
#nav.safari-browser.fixed-nav { display: block; }
.breadcrumbs { color: #333; font-size: 12px; padding: 13px 0 24px; }
.breadcrumbs a { color: #666; }
.breadcrumbs .free-shipping-container {float: right;
    height: 32px;}
.breadcrumbs .free-shipping-container .freeshipping {color: #F47A20;
    float: left;
    font-family: 'OmnesRegularRegular';
    font-size: 11px;
    font-weight: bold;
    margin: 0 0 12px 5px;
    padding: 1px 0 0;
    text-transform: uppercase;}
.breadcrumbs .free-shipping-container span {background: url("../pp-header/icons-header-mini.jpg") no-repeat scroll -30px 0 transparent;
    float: left;
    height: 14px;
    margin: 0 0 12px;
    overflow: hidden;
    text-indent: -900px;
    width: 28px;}

/* ########## LEFT ########## */
.td-left { width: 230px; vertical-align: top; padding: 0 15px 0 0; }
.td-left h1 { font-family: "OmnesLightRegular"; font-size: 39px; color: #f47a20; font-weight: normal; margin: 0 0 15px; }
.table-left-nav {}
.table-left-content { border-right: 1px solid #dbdada; }
.table-left-content .iBullet { display: none; }
.table-left-content a { font-size: 12px; }
.portlet-default {}
.portlet-default .portlet-title { padding-bottom: 15px; background: none; color: #898989; font-size: 14px; font-weight: bold; font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
.portlet-default .portlet-title .portletlabel { background: none; color: #898989; font-size: 14px; }
.portlet-default .portlet-title .portletlabel a { background: none; color: #898989; }
.portlet-default .portlet-container .pic a { display: none; }
.portlet-default .portlet-container a { color: #898989; }

/* Portlet left (required script) */
.table-group { margin: 0 0 10px; }
.table-group td { font-size: 13px; }
.table-group td.active { font-weight: bold; }
.table-group td.active a { font-weight: bold; }
.table-group .level1 td { padding: 0 0 15px; }
.table-group .level1 td.active { font-weight: normal; }
.table-group .level1 td.active a { font-weight: normal; }
.table-group .level1 a { font-size: 13px; font-weight: normal; color: #f57b20; font-size: 30px; font-family: "OmnesRegularRegular", Arial, Helvetica, sans-serif; }
.table-group .level2 td { padding: 10px 0; border-bottom: 1px solid #ededed; }
.table-group .level2 a { padding: 0; font-size: 16px; color: #666; }
.table-group .level3 td { padding: 10px 0 10px 15px; }
.table-group .level3 a { padding: 0; font-size: 16px; color: #666; }
.table-group .level4 td { padding: 10px 0 10px 30px; }
.table-group .level4 a { padding: 0; font-size: 16px; color: #666; }
.banner-left { border-bottom: 1px solid #ededed; text-align: center; padding: 40px 0; }

/* ########## RIGHT ########## */
.td-right { vertical-align: top; padding-left: 10px; }

/* ########## FOOTER ########## */
#div__footer { width: 968px; margin: 0 auto; }
#footer { height: 253px; }
#footer .footer-links-container { background: url("../pp-footer/bg-dotted.png") repeat-x scroll center bottom transparent; margin: 0 0 18px; overflow: hidden; padding: 26px 0 22px;}
#footer .footer-links { margin: 0; padding: 0 45px 0 0; list-style: none; float: left; }
#footer .social { float: left; }
#footer .social p { margin: 0; }
#footer .social a { float: left; width: 22px; height: 22px; margin: 0 7px 0 0; text-indent: -999px; overflow: hidden; }
#footer .social .title { margin: 0 0 8px; }
#footer .social .facebook { background: url(../pp-templates/poppin-sprite.png) -22px -14px}
#footer .social .twitter { background: url(../pp-templates/poppin-sprite.png) -44px -14px}
#footer .social .pinterest { background: url(../pp-templates/poppin-sprite.png) no-repeat 0 -14px}
#footer .title { font-weight: bold; text-transform: uppercase; color: #fff; font-size: 12px; }
#footer .title a { color: #fff; color: #fff; }
#footer .footer-links li { font-size: 12px; color: #fff; margin: 0 0 5px; }
#footer .footer-links li a { color: #fff; }
#footer .footer-links li.poppin-builds-schools { background: url(../pp-footer/icon-build-schools.gif) no-repeat left bottom; padding-bottom: 34px; }
#footer .fotter-bottom { overflow: hidden; padding-bottom: 30px; }
#footer .copy { background: url("../pp-footer/logo-poppin-small.png") no-repeat scroll left 8px transparent; color: #FFFFFF; float: left; font-size: 10px; margin: 0; padding: 14px 0 5px 115px;}
#footer .time {float: right;}
#footer .time p {color: #FFFFFF; float: left; font-size: 12px; margin: 12px 0 0; text-align: right;}
#footer .time .made-in { margin-left: 35px; }
#footer .time .made-in a { background: url(../pp-footer/bg-made-in.gif) no-repeat left top; width: 42px; height: 41px; overflow: hidden; text-indent: -999px; display: block; }
#footer .time .social { margin-left: 35px; padding-top: 9px; }
#footer .time .social a { float: left; width: 24px; height: 24px; overflow: hidden; text-indent: -999px; margin-right: 8px; }
#footer .time .social a.facebook { background: url(../pp-footer/icon-facebook.gif) no-repeat left top; }
#footer .time .social a.twitter { background: url(../pp-footer/icon-twitter.gif) no-repeat left top; }
#footer .time .social a.pinterest { background: url(../pp-footer/icon-pinterest.gif) no-repeat left top; }

/* ##### CART / CHECKOUT / MY ACCOUNT ##### */
.td-content-area .checkoutthankstext { font-size: 30px; font-family:; color: #F47A20; font-weight: normal; }
#carttable { margin: 10px 0; border: 0; border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; }
#carttable tr td { background: #fff url(../pp-templates/border.gif) repeat-x left bottom; font-size: 11px; padding: 15px 10px; border: 0; color: #666; font-family: Arial, Helvetica, sans-serif; color: #555; }
#carttable td input.input, #carttable td input.text { width: 40px; display: block; margin: 0 auto; text-align: center; }
#carttable tr td table td { border: 0; padding: 0; background: #fff; }
#carttable tr td table td.checkoutwarning { padding: 0 5px 10px; }
#carttable tr#carttableheader td { height: 30px; border: 0; padding: 0; }
#carttable #carttableheader td .listheadernosort { background: none; padding: 0 5px; height: 45px; line-height: 45px; font-size: 11px; overflow: hidden; color: #000; }
#carttable tr td .extcart {}
#carttable tr td .extcart td { vertical-align: top; }
#carttable tr td .extcart input.input { width: auto; text-align: left; }
#checkout, #recalc { cursor: pointer; padding: 2px 5px; background: #f47a20; border: 1px solid #f47a20; border-radius: 15px; text-transform: uppercase; color: #fff; }
.pt_container { height: auto; position: static; margin: 0 0 15px; }
.pt_head, .pt_end { display: none; }
.pt_body { border: 0; height: auto; padding: 0; overflow: hidden; }
.pt_title { color: inherit; font-size: 20px; font-weight: normal; float: none; position: static; float: left; }

/* ##### LOGIN ##### */
.message-new-customer, .message-new-customer { display: block; padding: 0 0 10px; }
.message-returning-customer { display: block; padding: 0 0 5px; }
#retemail { margin: 0 0 5px; }
.td-forgot-pass { padding-bottom: 10px; }
.myaccount input, .myaccount select, .myaccount textarea, .checkout input, .checkout select, .checkout textarea { margin-top: 2px; margin-bottom: 2px; }

/* ##### AAE MINI CART ##### */
.container-mini-cart { position: relative; width: 968px; margin: 0 auto; }
.mct { width: 428px; background: #f1f1f1; border: 1px solid #bbbbbb; border-radius: 0 0 10px 10px; -webkit-border-radius: 0 0 10px 10px; -moz-border-radius: 0 0 10px 10px; padding: 18px; right: 0; top: 26px; z-index: 100000; position: absolute; display: none; }
.mct .title-sidebar { border-bottom: 1px solid #666; padding-bottom: 12px; overflow: hidden; margin: 0 0 15px; }
.mct .title-sidebar span { font-size: 24px; font-weight: bold; color: #666; }
.mct .title-sidebar a { float: right; background: url(../pp-header/btn-checkout.gif) no-repeat left top; width: 104px; height: 25px; overflow: hidden; text-indent: -999px; }
.mct .top-info { overflow: hidden; color: #f57b20; font-weight: bold; font-size: 10px; margin: 0 0 10px; text-transform: uppercase; }
.mct .top-info .head-col-item { width: 266px; float: left; }
.mct .top-info .head-col-qty { width: 47px; float: left; text-align: center; }
.mct .top-info .head-col-price { width: 82px; padding-left: 22px; float: left; }
.mct #mct_cnt_items { background: url(../pp-header/mc-border-bottom.gif) repeat-x left bottom; padding: 0 0 1px 0; margin: 0 0 15px 0; }
.mct .item-list { margin: 0; padding: 0; list-style: none; background: url(../pp-header/mc-bg.gif) repeat-y 382px top}
.mct .item-list li { overflow: hidden; margin: 0 0 12px; }
.mct .item-list li .col-info { width: 374px; padding: 0 0 14px 0; margin: 0 24px 0 0; float: left; background: url(../pp-header/mc-border-bottom.gif) repeat-x left bottom; }
.mct .item-list li .col-info .cell-image { width: 30px; height: 30px; overflow: hidden; margin: 0 17px 0 0; float: left; }
.mct .item-list li .col-info .cell-image img { max-width: 30px; max-height: 30px; }
.mct .item-list li .col-info .cell-name { font-size: 16px; color: #666; font-weight: bold; }
.mct .item-list li .col-info .cell-name a { color: #666; }
.mct .item-list li .col-info .cell-options { display: none; }
.mct .item-list li .col-qty { float: left; width: 21px; padding-left: 1px; }
.mct .item-list li .col-qty input{width:21px;height:22px;line-height:22px;padding:0;border:1px solid #b4b4b4; font-weight: bold;color:#666;text-align:center;margin-top:8px}
.mct .item-list li .col-price { float: left; width: 82px; padding-left: 22px; font-size: 16px; font-weight: bold; color: #666; }
.mct .item-list li .col-remove { display: none}
.mct .mc-foot { overflow: hidden}
.mct .mc-foot .mc-foot-content {color: #A3A3A3;font-size: 17px}
.mct .mc-foot .mc-foot-content .total { float: right; padding-left: 15px; }
.mct .mc-foot .mc-foot-content .total .title { color: #f57b20; font-weight: bold; font-size: 10px; display: block; text-transform: uppercase; padding-left: 4px; margin-bottom: 2px; }
.mct .mc-foot .mc-foot-content .total .total-price { font-size: 16px; font-weight: bold; color: #666; display: block; }
.mct .mc-foot .mc-foot-content a {background: #F57B20;height: 25px;color: white;font-weight: 700;text-align: center;padding: 0 10px;line-height: 25px;display: inline-block;border-radius: 10px}
.mct .item-list li:last-child .col-info{background:none}
#mct_viewmore {padding: 2px;display: block;text-align: center;background: #F57B20;color: white;margin: 0 0 5px}
.container-mini-cart.fixed-cart { position: fixed; top: 0; }
.container-mini-cart.fixed-cart .mct { border-top: 0; top: 88px; right: 75px; }

/* ##### AAE QUICK VIEW ##### */
.qvi_bg { background: none; position: fixed; left: 0; top: 0; right: 0; bottom: 0; opacity: 0.73; z-index: 10000; }
.qvi { border: 1px solid #666; border-radius: 15px; -webkit-border-radius: 15px; -mox-border-radius: 15px; background: #fff; }
.qvi .close { width: 48px; height: 46px; background: url(../pp-templates/btn-close-qvi.png) no-repeat left top; position: absolute; top: -21px; right: -16px; cursor: pointer; }
.qvi .close img { display: none; }
.qvi .media-image { width: 315px; float: left; }
.qvi .media-image .media_image img { max-width: 315px; max-height: 315px; }
.qvi .quick-info { width: 318px; float: right; }
.qvi .quick-info .title { color: #F47A20; font-family: "OmnesRegularRegular", Arial, Helvetica, sans-serif; font-size: 38px; line-height: 40px; margin: 0 0 10px; }
.qvi .quick-info .desc { font-size: 15px; line-height: 22px; margin: 0 0 15px; }
.qvi .quick-info .availability { display: none; }
.qvi .quick-info .addtocart #qvi_addtocart_btn img { cursor: pointer; }

/* ##### AAE IMAGE BROWSER ##### */
.product-page .imb .jqzoom img { border: 0; }
.product-page .imb .zoomPad { height: auto; }
.product-page .imb #thumblist { margin: 0; padding: 0; }
.product-page .imb #thumblist .more-views { color: #B4B4B4; font-family: "OmnesRegularRegular",Arial,Helvetica,sans-serif; font-size: 17px; margin: 0 0 20px; text-transform: uppercase; padding-bottom: 10px; border-bottom: 1px solid #c6c6c6; }
.product-page .imb ul#thumblist li a { border: 0; }
.product-page .imb ul#thumblist li a.zoomThumbActive { border: 0; }
.product-page .imb .zoomWrapper { border: 0!important; }
.bgpopup { background: none!important; }
.product-page .imb .popup { border: 1px solid #666!important; z-index: 99999!important; }
.product-page .imb .popup .popup-close { background: url(../pp-templates/btn-close-qvi.png) no-repeat left top; width: 48px; height: 46px; right: -16px; top: -21px; }