<!--BEGIN_LEFT-->
<td width="195" valign="top"><table width="195" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td><NLCOLUMNCONTENTS></td>
    </tr>
    <tr>
      <td><label style='font-size:12px'><a href="<%=getAttribute('infoitem',21,'storeurl')%>"><strong>Wish List</strong></a></label><GPR_AAE_WLP_ADDCARTITEMS></td>
    </tr>
	<tr>
      <td><label style='font-size:12px'><a href="<%=getAttribute('infoitem',43,'storeurl')%>"><strong>Gift Registry</strong></a></label></td>
    </tr>
	<tr>
	  <td><GPR_AAE_QIO_SHOW></td>
	</tr>
	<tr>
      <td><GPR_AAE_MCT_SHOW></td>
    </tr>
    <tr>
      <td><GPR_AAE_RVI_SHOWITEMS></td>
    </tr>
  </table></td>
  <td class="left_sep"></td>
<!--END_LEFT-->