<td class="no_padding"><table width="100%" border="0" cellspacing="0" cellpadding="0" id="cat_cat_tit">
  <tr>
    <td class="cat_pagetit_start"><img src="/c.<NLCOMPANYID>/<GPR_AAE_BUNDLENAME>/site/theme/files/images_site/x.gif" width="1" height="1" alt="" /></td>
    <td class="cat_pagetit"><%=getCurrentAttribute('sitecategory','itemid')%></td>
    <td class="cat_pagetit_end"><img src="/c.<NLCOMPANYID>/<GPR_AAE_BUNDLENAME>/site/theme/files/images_site/x.gif" width="1" height="1" alt="" /></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0" id="cat_cat_cont">
  <tr>
    <td width="1%"><img src="/c.<NLCOMPANYID>/<GPR_AAE_BUNDLENAME>/site/theme/files/images_site/ns-central-tl.gif" width="15" height="15" alt="" /></td>
    <td class="cat_topbg"><img src="/c.<NLCOMPANYID>/<GPR_AAE_BUNDLENAME>/site/theme/files/images_site/x.gif" width="1" height="1" alt="" /></td>
    <td width="1%"><img src="/c.<NLCOMPANYID>/<GPR_AAE_BUNDLENAME>/site/theme/files/images_site/ns-central-tr.gif" width="15" height="15" alt="" /></td>
  </tr>
  <tr>
    <td class="cat_leftbg"><img src="/c.<NLCOMPANYID>/<GPR_AAE_BUNDLENAME>/site/theme/files/images_site/x.gif" width="1" height="1" alt="" /></td>
    <td class="cat_content"><table cellpadding="0" cellspacing="0" border="0"><tr><NLITEMLIST></tr></table></td>
    <td class="cat_rightbg"><img src="/c.<NLCOMPANYID>/<GPR_AAE_BUNDLENAME>/site/theme/files/images_site/x.gif" width="1" height="1" alt="" /></td>
  </tr>
  <tr>
    <td><img src="/c.<NLCOMPANYID>/<GPR_AAE_BUNDLENAME>/site/theme/files/images_site/ns-central-dl.gif" width="15" height="15" alt="" /></td>
    <td class="cat_bottombg"><img src="/c.<NLCOMPANYID>/<GPR_AAE_BUNDLENAME>/site/theme/files/images_site/x.gif" width="1" height="1" alt="" /></td>
    <td><img src="/c.<NLCOMPANYID>/<GPR_AAE_BUNDLENAME>/site/theme/files/images_site/ns-central-dr.gif" width="15" height="15" alt="" /></td>
  </tr>
</table></td>