<style>
.cat-banner img{
display:none;
}
#cat-header{
    width: 722px;
    height: 220px;
    position: relative;
}
#cat-header-text{
    position: absolute;
    color: #ff7a34;
    top: 50px;
    left: 52px;
    width: 195px;
    height: 145px;
}

#cat-header-text p:first-child{
    font-family: OmnesSemiBold, Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 0 0 5px 0;
}
#cat-header-text p:nth-child(2){
    font-family: OmnesMediumRegular;
    font-size: 22px;
    margin: 0;
}
</style>
<td class="td-itemlist">
	<div class="category_data" style="display: none;">
		<div class="parent_category"><%=getCurrentAttribute('sitecategory','parentcategory','No')%></div>
		<div class="name_category"><%=getCurrentAttribute('sitecategory','itemid','')%></div>
	</div>
	<div class="item-list">
		<NLPROCESSONCE>
		<div class="cat-banner"><%=getCurrentAttribute('sitecategory','storedisplayimagehtml','')%></div>
		<div class="tab-message css-reset"><%=getCurrentAttribute('sitecategory','storedetaileddescription','')%></div>
		</NLPROCESSONCE>
		<div class="toolbar">
			<div class="sort-by">
				<span class="sortlabel">Sort by</span><div class="sort"></div>
			</div>
			<div class="filter">
			</div>
			<div class="itemsperpage">
				<span>Items per page</span>
				<div class="selectwrap">
					<select id="itemsperpageselector">
						<option value="6">6</option>
						<option value="12">12</option>
						<option value="24" selected="selected">24</option>
						<option value="50">50</option>
						<option value="0">All</option>
					</select>
				</div>
			</div>
		</div>
		<div class="itemlist">
			<table class="table-item-list" width="100%" cellpadding="0" cellspacing="0" border="0">
				<tr>
					<NLITEMLIST>
				</tr>
			</table>
		</div>
		<div class="paginationtoolbar">
			<b>Page</b>
			<div class="pagination"></div>
		</div>
	</div>
<script type="text/javascript">
	//The tab image is load from the File Cabinet,
	//the image name should be the name of the tab
	//just text without spaces or special characters and all lowercase
	//example: Category Name => categoryname.jpg
	var parent_category = $j('.category_data .parent_category').text();
	var name_category = $j('.category_data .name_category').text();
	if(parent_category == 'No'){
		name_image = name_category.replace(/[^A-Za-z0-9]/g,"");
		name_image = name_image.toLowerCase();
		image_url = '/site/pp-cat-images/'+name_image+'.jpg';
		$j('<img />').error(function(){
			return false;
		}).load(function(){
			$j('.cat-banner').html(this);
		}).attr({src: image_url, alt: name_category});
	}
</script>
<script type="text/javascript" src="/site/pp-files/gp-itemlist.lib.js"></script>
<script type="text/javascript" src="/site/pp-files/itemlist.getter.lib.min.js"></script>
<script type="text/javascript" src="/site/pp-files/sc-item_list_filters_init.min.js"></script>
</td>