<td class="td-product-page">
<script type="text/javascript" src="/c.3363929/suitebundle16015/site/imb/imb-library.js?rev"></script>
<script id='spinback-spincycle' type='text/javascript' src='http://conversion.buddymedia.com/js/spincycleinit.js?cid=79C9FF'>
	pn:<%=getCurrentAttribute('item','storedisplayname2')%>
	pid:<%=getCurrentAttribute('item','itemid')%>
	plp:<%=getCurrentAttribute('item','storeurl')%>
	pi:<%=getCurrentAttribute('item','storedisplaythumbnail','/site/pp-templates/thumb.gif')%>
	pd:<%=getCurrentAttribute('item','storedescription')%>
</script>
<div class="product-page">
	<div class="left-content">
		<div class="image-gallery">
			<GPR_AAE_IMB_GALLERY2>
		</div>
		<div class="product-message-bottom">
			<p class="big-message">
				<span><%=getCurrentAttribute('item','custitem_big_message_bottom')%></span>
			</p>
			<p class="small-message-bottom">
				<%=getCurrentAttribute('item','custitem_small_message_bottom')%>
			</p>
		</div>
		<table class="correlated-data" cellpadding="0" cellspacing="0" border="0" width="100%"><tr>
				<%=getCurrentAttribute('item','correlateditemshtml')%>
		</tr></table>
	</div>
	<div class="right-content">
		<p class="small-message">
			<%=getCurrentAttribute('item','custitem_small_message_top')%>
		</p>
		<h1><%=getCurrentAttribute('item','storedisplayname2')%></h1>
		<div class="desc">
			<%=getCurrentAttribute('item','featureddescription')%>
		</div>
		<form method='post' name='form<%=getCurrentAttribute('item', 'internalid')%>' id='form<%=getCurrentAttribute('item', 'internalid')%>' onsubmit='return checkmandatory<%=getCurrentAttribute('item', 'internalid')%>();' action='/app/site/backend/additemtocart.nl'>
			<div class="wrap-price">
				<span class="regular-price"><span class="price-container"><%=getCurrentAttribute('item','salespricehtml')%></span></span><span class="custom-detail"><%=getCurrentAttribute('item','custitem_price_description','')%></span>
			</div>
		<div class="addto">
			<div class="options-container">
				<table cellpadding="0" cellspacing="0" border="0" width="100%" class="addtocart-options table-data-options">
					<%=getCurrentAttribute('item','addtocartoptionshtml')%>
				</table>
			</div>
			<table cellpadding="0" cellspacing="0" border="0" width="100%" class="addtocart">
				<%=getCurrentAttribute('item','addtocartdrillDownHtml')%>
			</table>
		</div>
		</form>
		<div class="details">
			<!-- AVAILABLE COLORS -->
			<div class="available-colors-block">
				<div class="title">
					Additional colors
				</div>
				<div class="product-block-content">
					<ul id="available-colors-list">
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_aqua_id','0')%>" class="aqua">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_aqua_id','0')%>/.f" title="Aqua">Aqua</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_assorted_id','0')%>" class="assorted">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_assorted_id','0')%>/.f" title="Assorted">Assorted</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_awning_id','0')%>" class="awning">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_awning_id','0')%>/.f" title="Awning">Awning</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_bikini_id','0')%>" class="bikini">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_bikini_id','0')%>/.f" title="Bikini">Bikini</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_black_id','0')%>" class="black">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_black_id','0')%>/.f" title="Black">Black</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_black_whit_id','0')%>" class="black-white">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_black_whit_id','0')%>/.f" title="Black + White">Black + White</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_black_white_c','0')%>" class="black-white-clip">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_black_white_c','0')%>/.f" title="Black + White Clip">Black + White Clip</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_citrus_id','0')%>" class="citrus">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_citrus_id','0')%>/.f" title="Citrus">Citrus</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_clear_id','0')%>" class="clear">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_clear_id','0')%>/.f" title="Clear">Clear</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_clear_oran_id','0')%>" class="clear-orange">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_clear_oran_id','0')%>/.f" title="Clear + Orange">Clear + Orange</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_cobalt_id','0')%>" class="cobalt">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_cobalt_id','0')%>/.f" title="Cobalt">Cobalt</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_emerald_id','0')%>" class="emerald">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_emerald_id','0')%>/.f" title="Emerald">Emerald</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_confetti_clip','0')%>" class="confetti-clip">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_confetti_clip','0')%>/.f" title="Confetti Clip">Confetti Clip</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_fiesta_id','0')%>" class="fiesta">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_fiesta_id','0')%>/.f" title="Fiesta">Fiesta</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_gray_id','0')%>" class="gray">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_gray_id','0')%>/.f" title="Gray">Gray</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_hi_blue_id','0')%>" class="hi-blue">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_hi_blue_id','0')%>/.f" title="Hi Blue">Hi Blue</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_hi_green_id','0')%>" class="hi-green">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_hi_green_id','0')%>/.f" title="Hi Green">Hi Green</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_hi_orange_id','0')%>" class="hi-orange">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_hi_orange_id','0')%>/.f" title="Hi Orange">Hi Orange</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_hi_pink_id','0')%>" class="hi-pink">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_hi_pink_id','0')%>/.f" title="Hi Pink">Hi Pink</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_hi_purple_id','0')%>" class="hi-purple">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_hi_purple_id','0')%>/.f" title="Hi Purple">Hi Purple</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_hi_red_id','0')%>" class="hi-red">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_hi_red_id','0')%>/.f" title="Hi Red">Hi Red</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_island_id','0')%>" class="island">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_island_id','0')%>/.f" title="Island">Island</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_khaky_id','0')%>" class="khaky">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_khaky_id','0')%>/.f" title="Khaky">Khaky</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_light_pink_id','0')%>" class="light-pink">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_light_pink_id','0')%>/.f" title="Light Pink">Light Pink</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_lime_green_id','0')%>" class="lime-green">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_lime_green_id','0')%>/.f" title="Lime Green">Lime Green</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_long_beach_id','0')%>" class="long-beach">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_long_beach_id','0')%>/.f" title="Long Beach">Long Beach</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_loggage_id','0')%>" class="loggage">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_loggage_id','0')%>/.f" title="Luggage">Luggage</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_matte_gold_id','0')%>" class="matte-gold">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_matte_gold_id','0')%>/.f" title="Matte Gold">Matte Gold</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_matte_silv_id','0')%>" class="matte-silver">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_matte_silv_id','0')%>/.f" title="Matte Silver">Matte Silver</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_montauk_id','0')%>" class="montauk">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_montauk_id','0')%>/.f" title="Montauk">Montauk</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_micro_stri_id','0')%>" class="micro-stripe">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_micro_stri_id','0')%>/.f" title="Micro Stripe">Micro Stripe</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_mirror_gol_id','0')%>" class="mirror-gold">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_mirror_gol_id','0')%>/.f" title="Mirror Gold">Mirror Gold</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_mirror_sil_id','0')%>" class="mirror-silver">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_mirror_sil_id','0')%>/.f" title="Mirror Silver">Mirror Silver</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_navy_id','0')%>" class="navy">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_navy_id','0')%>/.f" title="Navy">Navy</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_neon_green_id','0')%>" class="neon-green">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_neon_green_id','0')%>/.f" title="Neon Green">Neon Green</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_neon_orang_id','0')%>" class="neon-orange">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_neon_orang_id','0')%>/.f" title="Neon Orange">Neon Orange</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_neon_pink_id','0')%>" class="neon-pink">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_neon_pink_id','0')%>/.f" title="Neon Pink">Neon Pink</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_olive_id','0')%>" class="olive">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_olive_id','0')%>/.f" title="Olive">Olive</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_orange_id','0')%>" class="orange">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_orange_id','0')%>/.f" title="Orange">Orange</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_pink_id','0')%>" class="pink">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_pink_id','0')%>/.f" title="Pink">Pink</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_pinstripe_id','0')%>" class="pinstripe">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_pinstripe_id','0')%>/.f" title="Pinstripe">Pinstripe</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_pool_blue_id','0')%>" class="pool-blue">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_pool_blue_id','0')%>/.f" title="Pool Blue">Pool Blue</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_purple_id','0')%>" class="purple">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_purple_id','0')%>/.f" title="Purple">Purple</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_racecar_id','0')%>" class="racecar">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_racecar_id','0')%>/.f" title="Racecar">Racecar</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_red_id','0')%>" class="red">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_red_id','0')%>/.f" title="Red">Red</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_red_orange_id','0')%>" class="red-orange">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_red_orange_id','0')%>/.f" title="Red + Orange">Red + Orange</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_rockaway_id','0')%>" class="rockaway">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_rockaway_id','0')%>/.f" title="Rockaway">Rockaway</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_referee_id','0')%>" class="referee">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_referee_id','0')%>/.f" title="Referee">Referee</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_sailor_id','0')%>" class="sailor">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_sailor_id','0')%>/.f" title="Sailor">Sailor</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_silver_ora_id','0')%>" class="silver-orange">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_silver_ora_id','0')%>/.f" title="Silver + Orange">Silver + Orange</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_slushie_id','0')%>" class="slushie">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_slushie_id','0')%>/.f" title="Slushie">Slushie</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_smoothie_id','0')%>" class="smoothie">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_smoothie_id','0')%>/.f" title="Smoothie">Smoothie</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_snowcone_id','0')%>" class="snowcone">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_snowcone_id','0')%>/.f" title="Snowcone">Snowcone</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_sunset_id','0')%>" class="sunset">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_sunset_id','0')%>/.f" title="Sunset">Sunset</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_taffy_id','0')%>" class="taffy">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_taffy_id','0')%>/.f" title="Taffy">Taffy</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_white_id','0')%>" class="white">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_white_id','0')%>/.f" title="White">White</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_white_blac_id','0')%>" class="white-black">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_white_blac_id','0')%>/.f" title="White + Black">White + Black</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_white_gree_id','0')%>" class="white-green">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_white_gree_id','0')%>/.f" title="White + Green">White + Green</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_white_lime_id','0')%>" class="white-lime-green">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_white_lime_id','0')%>/.f" title="White + Lime Green">White + Lime Green</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_white_oran_id','0')%>" class="white-orange">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_white_oran_id','0')%>/.f" title="White + Orange">White + Orange</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_white_pink_id','0')%>" class="white-pink">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_white_pink_id','0')%>/.f" title="White + Pink">White + Pink</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_white_pool_id','0')%>" class="white-pool-blue">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_white_pool_id','0')%>/.f" title="White + Pool Blue">White + Pool Blue</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_white_red_id','0')%>" class="white-red">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_white_red_id','0')%>/.f" title="White + Red">White + Red</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_xox_id','0')%>" class="xox">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_xox_id','0')%>/.f" title="XOX">XOX</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_yellow_id','0')%>" class="yellow">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_yellow_id','0')%>/.f" title="Yellow">Yellow</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_natural_oa_id','0')%>" class="natural-oak">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_natural_oa_id','0')%>/.f" title="Natural Oak">Natural Oak</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_virginia_w_id','0')%>" class="virginia-walnut">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_virginia_w_id','0')%>/.f" title="Virginia Walnut">Virginia Walnut</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_warm_oak_id','0')%>" class="warm-oak">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_warm_oak_id','0')%>/.f" title="Warm Oak">Warm Oak</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_brown_id','0')%>" class="brown">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_brown_id','0')%>/.f" title="Brown">Brown</a>
						</li>
						<li data-colorid="<%=getCurrentAttribute('item','custitem_available_color_canvas_id','0')%>" class="canvas">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_color_canvas_id','0')%>/.f" title="Canvas">Canvas</a>
						</li>
					</ul><br>
				</div>
			</div>
			<!-- END AVAILABLE COLORS -->
			<!-- START AVAILABLE SIZES -->
			<div class="product-block available-frames-block">
				<div class="product-block-title">Additional Frames And Sizes</div>
				<div class="product-block-content">
					<ul id="available-sizes-list">
						<li data-sizeid="<%=getCurrentAttribute('item','custitem_available_15_white_id','0')%>" class="white">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_15_white_id','0')%>/.f" rel='White Frame 15" x 15"'>White Frame 15" x 15"</a>
						</li>
						<li data-sizeid="<%=getCurrentAttribute('item','custitem_available_19_white_id','0')%>" class="white">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_19_white_id','0')%>/.f" rel='White Frame 19" x 19"'>White Frame 19" x 19"</a>
						</li>
						<li data-sizeid="<%=getCurrentAttribute('item','custitem_available_23_white_id','0')%>" class="white">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_23_white_id','0')%>/.f" rel='White Frame 23" x 23"'>White Frame 23" x 23"</a>
						</li>
						<li data-sizeid="<%=getCurrentAttribute('item','custitem_available_15_black_id','0')%>" class="black">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_15_black_id','0')%>/.f" rel='Black Frame 15" x 15"'>Black Frame 15" x 15"</a>
						</li>
						<li data-sizeid="<%=getCurrentAttribute('item','custitem_available_19_black_id','0')%>" class="black">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_19_black_id','0')%>/.f" rel='Black Frame 19" x 19"'>Black Frame 19" x 19"</a>
						</li>
						<li data-sizeid="<%=getCurrentAttribute('item','custitem_available_23_black_id','0')%>" class="black">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_23_black_id','0')%>/.f" rel='Black Frame 23" x 23"'>Black Frame 23" x 23"</a>
						</li>
						<li data-sizeid="<%=getCurrentAttribute('item','custitem_available_15_canvas_id','0')%>" class="canvas">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_15_canvas_id','0')%>/.f" rel='Canvas Frame 15" x 15"'>Canvas Frame 15" x 15"</a>
						</li>
						<li data-sizeid="<%=getCurrentAttribute('item','custitem_available_19_canvas_id','0')%>" class="canvas">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_19_canvas_id','0')%>/.f" rel='Canvas Frame 19" x 19"'>Canvas Frame 19" x 19"</a>
						</li>
						<li data-sizeid="<%=getCurrentAttribute('item','custitem_available_24_canvas_id','0')%>" class="canvas">
							<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_available_24_canvas_id','0')%>/.f" rel='Canvas Frame 24" x 24"'>Canvas Frame 24" x 24"</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- END AVAILABLE SIZES -->
			<!-- PERSONALIZE ME -->
			<div class="personalize-it-block">
				<a href="/s.nl/it.A/id.<%=getCurrentAttribute('item','custitem_personalize_it_link','0')%>/.f" title="Personalize me">Personalize me</a></p>
			</div>
			<script type="text/javascript">
				if ('<%=getCurrentAttribute("item","custitem_personalize_it_link","0")%>' == '0') {
					$j('.personalize-it-block').hide();
				}
			</script>
			<!-- END PERSONALIZE ME -->
			<div class="title">
				Details
			</div>
			<div class="detail-desc">
				<%=getCurrentAttribute('item','storedetaileddescription')%>
			</div>
		</div>
		<div class="product-block as-seen-in-block">
			<div class="product-block-title">
				poppirazzi
			</div>
			<div class="product-block-content">
				<p><img src="<%=getCurrentAttribute('item','custitem_as_seen_image_1','')%>" /><img src="<%=getCurrentAttribute('item','custitem_as_seen_image_2','')%>" />
				</p>
			</div>
			<script type="text/javascript">
				src1 = $j('.product-block.as-seen-in-block img:eq(0)').attr('src');
				src2 = $j('.product-block.as-seen-in-block img:eq(1)').attr('src');
				if (src1 == '' && src2 == '') { $j('.product-block.as-seen-in-block').hide(); }
			</script>
		</div>
		<GPR_AAE_RVI_SHOWITEMS>
	</div>
</div>
<GPR_AAE_RVI_SAVEITEM>
<GPR_AAE_ITEMTEMPLATE>
<link type="text/css" href="/Poppin/pp-sc-resources/ProductPage/css/ProductPageStyles.css" rel="stylesheet">
<script type="text/javascript" src="/Poppin/pp-sc-resources/ProductPage/js/ProductPageScripts.js"></script>
</td>